{% extends 'base.html' %}
{% block title %}
    {{ _('Something is wrong') }}
{% endblock %}

{% block head %}

{% endblock %}
{% block content %}

<span>{{ _('Products') }}</span>
<span>{{ _('Add Product') }}</span>
<span>{{ _('Product Categories') }}</span>
<span>{{ _('Add Product Category') }}</span>
<span>{{ _('Product Type Specifications') }}</span>
<span>{{ _('Add Product Type Specification') }}</span>
<span>{{ _('Store') }}</span>
<span>{{ _('Add To Store') }}</span>
<span>{{ _('Team') }}</span>
<span>{{ _('Add teammate') }}</span>
<span>{{ _('Roles') }}</span>
<span>{{ _('Add Role') }}</span>
<span>{{ _('Promo Codes') }}</span>
<span>{{ _('Create Promo Code') }}</span>
<span>{{ _('Orders') }}</span>
<span>{{ _('Affiliates') }}</span>
<span>{{ _('Transfers') }}</span>
<span>{{ _('Transfer Funds') }}</span>
<span>{{ _('Emails') }}</span>
<span>{{ _('Create Email') }}</span>
<span>{{ _('Assign Email') }}</span>
<span>{{ _('Send Email') }}</span>
<span>{{ _('Corporate Emails') }}</span>
<span>{{ _('Affiliate Orders') }}</span>
<span>{{ _('Affiliate Transfers') }}</span>
<span>{{ _('Positions') }}</span>
<span>{{ _('Affiliate') }}</span>
<span>{{ _('Editor') }}</span>
<span>{{ _('Manager') }}</span>
<span>{{ _('Sales AND Marketing') }}</span>
<span>{{ _('HR') }}</span>
<span>{{ _('CEO') }}</span>

{% endblock %}