{% extends 'base.html' %}
{% block title %}
    {{ _('Something is wrong') }}
{% endblock %}

{% block head %}

{% endblock %}
{% block content %}

<span>{{ _('Products') }}</span>
<span>{{ _('Add Product') }}</span>
<span>{{ _('Product Categories') }}</span>
<span>{{ _('Add Product Category') }}</span>
<span>{{ _('Product Type Specifications') }}</span>
<span>{{ _('Add Product Type Specification') }}</span>
<span>{{ _('Store') }}</span>
<span>{{ _('Add To Store') }}</span>
<span>{{ _('Team') }}</span>
<span>{{ _('Add teammate') }}</span>
<span>{{ _('Roles') }}</span>
<span>{{ _('Add Role') }}</span>
<span>{{ _('Promo Codes') }}</span>
<span>{{ _('Create Promo Code') }}</span>
<span>{{ _('Orders') }}</span>
<span>{{ _('Affiliates') }}</span>
<span>{{ _('Transfers') }}</span>
<span>{{ _('Transfer Funds') }}</span>
<span>{{ _('Emails') }}</span>
<span>{{ _('Create Email') }}</span>
<span>{{ _('Assign Email') }}</span>
<span>{{ _('Send Email') }}</span>
<span>{{ _('Corporate Emails') }}</span>
<span>{{ _('Affiliate Orders') }}</span>
<span>{{ _('Affiliate Transfers') }}</span>
<span>{{ _('Positions') }}</span>
<span>{{ _('Affiliate') }}</span>
<span>{{ _('Editor') }}</span>
<span>{{ _('Manager') }}</span>
<span>{{ _('Sales AND Marketing') }}</span>
<span>{{ _('HR') }}</span>
<span>{{ _('CEO') }}</span>
<span>{{ _('Edit Product Category') }}</span>
<span>{{ _('Edit Product Type Specification') }}</span>
<span>{{ _('Edit Store') }}</span>
<span>{{ _('Edit Teammate') }}</span>
<span>{{ _('Edit Role') }}</span>
<span>{{ _('Edit Price') }}</span>
<span>{{ _('Edit Promo Code') }}</span>
<span>{{ _('Edit Promo') }}</span>
<span>{{ _('Edit Order Details') }}</span>
<span>{{ _('Edit Corporate Email View') }}</span>
<span>{{ _('Edit Corporate Email') }}</span>
<span>{{ _('Edit Positions') }}</span>
<span>{{ _('Edit Profile') }}</span>



<span>{{ _('All Months') }}</span>
<span>{{ _('All Affiliates') }}</span>
<option>{{ _('January') }}</option>
<option>{{ _('February') }}</option>
<option>{{ _('March') }}</option>
<option>{{ _('April') }}</option>
<option>{{ _('May') }}</option>
<option>{{ _('June') }}</option>
<option>{{ _('July') }}</option>
<option>{{ _('August') }}</option>
<option>{{ _('September') }}</option>
<option>{{ _('October') }}</option>
<option>{{ _('November') }}</option>
<option>{{ _('December') }}</option>
<option>{{ _('Chose the number of top products') }}</option>
<option>{{ _('Click here to sign up') }}</option>
<option>{{ _('recipient') }}</option>
<option>{{ _('unsubscribe') }}</option>
<option>{{ _('company') }}</option>
<option>{{ _('Payment Confirmation') }}</option>
<option>{{ _('Top') }}</option>

<!-- Permissions -->
 <!-- get_chart_data() -->

{% endblock %}