{% extends 'base.html' %}
{% block title %}
{{ _('Add Product') }}
{% endblock %}

{% block head %}

    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jQuery, Popper.js, and Bootstrap JS for accordion functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
        

    <link rel="stylesheet" href="{{ url_for('static', filename='dropzon.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='cropper.min.css') }}">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


    <style>
        .dz-details:hover {
            cursor: pointer;
        }
    
        .dz-remove-btn:hover {
            background-color: #c82333;
            cursor: pointer;
        }
    
    
        .alt-input:hover {
            cursor: auto;
        }

        
        #product-category-form input {
            font-size: 18px;
        }

        #product-category-form textarea {
            font-size: 18px;
        }
    
    </style>
{% endblock %}

{% block content %}
<div class="overlay" id="overlay"></div>
{{ sideBar | safe }}

<div class="containerS" style="width: 55%">
    <h1 style="text-align: center;">{{ _('Add Product in another lang') }}</h1>
    
    <!-- Form for adding a product -->
    <div id="mistakes" style="width: 70%"></div>
    <form id="product-category-form">
        <input type="text" class="form_input" id="product-name" placeholder="{{ _('Product Title')  + ' | ' + _('Max allowed number of chars is 20') }}" title="{{ _('Product Title')  + ' | ' + _('Max allowed number of chars is 20') }}">
        <input type="text" class="form_input" id="product-link" placeholder="{{ _('Product link') }}  {{ root_url }}{{ _('This-is-Your-Product-Link') }} ">
        <input type="text" id="short-description" class="form_input" placeholder="{{ _('Short description') }}" />
        <textarea id="long-description" class="form_input" placeholder="{{ _('Long description') }}" ></textarea>

        {% if productCategory.product_category.length > 0 %}
        <select name="product-category" id="category-id" class="styled-select">
            <option value="">{{ _('Choose product category') }}</option>
            {% for val in productCategory.product_category.data %}
                {% set optVal = val['Product_Category_Name'] %}
                {% if optVal is not none %}
                    {% set selected = '' %}
                    {% if productCategory.Product_Category_ID == val['Product_Category_ID'] %}
                        {% set selected = 'selected' %}
                    {% endif %}
                    <option value="{{ val['Product_Category_ID'] }}" {{ selected }}>
                        {{ optVal }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>

        {% endif %}

        <!-- Provide a link to translate categories -->
        {% if productCategoriesToBeTranslated|length > 0 %}
        <style>
            .styled-select {
                margin-bottom: 5px;
            }
        </style>
        <div class="card" style="cursor:pointer; width: 100%; background-color: #f8f8f8;" id="accordion">
            <div class="card-header" id="headingId" style="background-color: #e76f51;">
              <span class="d-block" 
                    data-toggle="collapse-accordion" 
                    data-target="collapseId" 
                    aria-expanded="false" 
                    aria-controls="collapseId"
                    style="color: #fff;"
                    >
                {{ _('Translate category name') }}
              </span>
            </div>
            <div id="collapseId" class="collapse-accordion collapse" aria-labelledby="headingId" data-parent="#accordion">
              <div class="card-body" style="padding: 0.3rem;">
                
                <ul class="list-group list-group-flush">
            {% for val in productCategoriesToBeTranslated %}
                {% set optVal = val['Product_Category_Name'] %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <a  href="{{ root_url }}edit-product-category/{{ val['PC_Ref_Key'] }}" 
                                target="_blank" 
                                onclick="event.stopPropagation();"
                                >
                                {{ optVal }} 
                            </a>
                        </div>
                    </div>
                </li>
            
            {% endfor %}

                </ul>
            </div>
        </div>
        </div>


    <script>    
        document.querySelectorAll('.card').forEach(card => {
            card.addEventListener('click', function(e) {
            const collapseElement = card.querySelector('.collapse-accordion');
            console.log(typeof $.fn.collapse);

            // Use jQuery's collapse toggle method (Bootstrap relies on jQuery)
            $(collapseElement).collapse('toggle');
            });
        });
    </script>

  
        
        {% endif %}    

        
        <div style="margin: 5px auto; width: 100%;">
        <a  href="{{ root_url }}/add-product-category" 
            target="_blank"    
            class="add-pr-category" 
            style="                
                display: block;
                margin-bottom: unset;
                background-color: #e76f51;
                color: #fff;
                margin-bottom: 5px;">
            {{ _('Add Product Category') }}
        </a>
        </div>


        <div  class="dropzone" id="myDropzone">
            <div class="dz-message dz-button">{{ _('Thumbnail image') }}</div>
        </div>
            
        <input type="hidden" id="language-id" value="{{ languageID }}">
        <input type="hidden" id="ref-key" value="{{ prData.RefKey }}">
        
        <div id="saveButton" class="pcButtonS">{{ _('Submit') }}</div>
        <div id="saving" class="pcButtonS hidden">{{ _('Saving...') }}</div>
    </form>
</div>

<!-- Script for Dropzone (image upload) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

<!-- Thumbnail image manipulations -->
<script>
    let csrfToken = "{{ csrf_token() }}"
    // Create a FormData object to hold the files
    let formData = new FormData();

    // Initialize Dropzone
    Dropzone.autoDiscover = false;
    let myDropzone = new Dropzone("#myDropzone", {
        url: "/upload",
        autoProcessQueue: false,
        maxFiles: 1,  // Limit the number of files to 1
        addRemoveLinks: false,  // Disable default remove link
        previewsContainer: "#myDropzone",
        clickable: true,
        init: function () {
            let dz = this;          
            
            dz.on("addedfile", function (file) {
        
                // Create a new FileReader instance
                let reader = new FileReader();

                // Define the onload function for the FileReader
                reader.onload = function (event) {
                    // Get the image data URL from the FileReader
                    let imageUrl = event.target.result;

                    // Open the image editor modal
                    openImageEditorModal(imageUrl, function (editedImageBlob) {
                        // Create a new Dropzone file object from the edited image blob
                        let editedFile = new File([editedImageBlob], file.name, { type: file.type });
                        dz.removeFile(file);
                        dz.addFile(editedFile);
                    });
                };

                // Read the image file as a data URL
                reader.readAsDataURL(file);

                // Add a custom remove button to the preview element
                let removeButton = Dropzone.createElement("<button class='dz-remove-btn'>&times;</button>");
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    dz.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);

                let progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                progressBars.forEach(function (progressBar) {
                    progressBar.style.display = "none";
                });

                // Add a text input for the alt attribute
                let altInput = Dropzone.createElement("<input type='text' class='alt-input' placeholder='Enter alt text'>");
                file.previewElement.appendChild(altInput);
            });

            dz.on("complete", function (file) {
                // Hide progress bar when upload is completed
                let progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                progressBars.forEach(function (progressBar) {
                    progressBar.style.display = "none";
                });
            });
        }

    });
    // console.log(myDropzone);

    // Image Editor Modal Logic
    let cropper;

    function openImageEditorModal(imageUrl, callback) {
        // Show the overlay
        document.getElementById('overlay').classList.add('show');

        // Create modal element
        let imageEditorModal = document.createElement('div');
        imageEditorModal.id = 'imageEditorModal';
        imageEditorModal.className = 'modal open';
        imageEditorModal.innerHTML = `
            <img id="imageToEdit" src="${imageUrl}" alt="Image to edit">
            <br>
            <button id="saveEditedImage">{{ _('Crop') }}</button>
            <button id="cancelEdit">{{ _('Done') }}</button>
        `;
        document.body.appendChild(imageEditorModal);

        let imageToEdit = document.getElementById('imageToEdit');

        cropper = new Cropper(imageToEdit, {
            aspectRatio: 1 / 1,  // Set the aspect ratio to 1:1
            viewMode: 1,
            ready: function () {
                // Get the Cropper instance
                let cropperInstance = this.cropper;

                // Get the natural size of the image
                let naturalWidth = cropperInstance.imageData.naturalWidth;
                let naturalHeight = cropperInstance.imageData.naturalHeight;

                // Calculate the maximum size of the crop box
                let maxCropBoxWidth = naturalWidth;
                let maxCropBoxHeight = naturalWidth;

                // Set the crop box data to the maximum size
                cropperInstance.setCropBoxData({
                    width: maxCropBoxWidth,
                    height: maxCropBoxHeight,
                    left: 0,
                    top: 0
                });
            }
        });


        document.getElementById('saveEditedImage').onclick = function () {
            cropper.getCroppedCanvas().toBlob(function (blob) {
                closeImageEditorModal(imageEditorModal);  // Close the modal first
                callback(blob);
            });
        };

        document.getElementById('cancelEdit').onclick = function () {
            closeImageEditorModal(imageEditorModal);
        };

        // Event delegation to handle clicks on dynamically added .dz-preview elements
        document.querySelector('.dz-preview').addEventListener('dblclick', function(event) {
                if (event.target.closest('.dz-preview')) {
                let file = myDropzone.getAcceptedFiles()[0];  // Get the file object associated with the clicked preview
                if (file) {
                    var reader = new FileReader();

                    reader.onload = function(event) {
                        // Get the image data URL from the FileReader
                        var imageUrl = event.target.result;

                        // Open the image editor modal
                        openImageEditorModal(imageUrl, function(editedImageBlob) {
                            // Create a new Dropzone file object from the edited image blob
                            var editedFile = new File([editedImageBlob], file.name, { type: file.type });
                            myDropzone.removeFile(file);
                            myDropzone.addFile(editedFile);
                        });
                    };

                    // Read the image file as a data URL
                    reader.readAsDataURL(file);
                }
            }
        });
    }

    function closeImageEditorModal(modal) {
        cropper.destroy();
        modal.remove();
        // Hide the overlay
        document.getElementById('overlay').classList.remove('show');
    }

        // When the form is submitted
        const saveButton = document.getElementById('saveButton');

saveButton.addEventListener('click', function (event) {
    // Prevent the default form submission
    event.preventDefault();

            let productCategoryLenght = {{ productCategory.product_category.length }};
            if (productCategoryLenght == 0) {
                let emptyCategory = "{{ emptyCategory }}";
                alert(emptyCategory);   
                return;
            }
            
               
            const saveButton = document.getElementById('saveButton');
            const saving = document.getElementById('saving');
            
            saveButton.classList.add('hidden');
            saving.classList.remove('hidden');
            
            let formData = new FormData();

            let file = myDropzone.files[0];
            let altText = ""
            if (file && file.previewElement && file.previewElement.querySelector(".alt-input")) {
                altText = file.previewElement.querySelector(".alt-input").value;
            }

            let productName = document.getElementById('product-name').value;
            let productLink = document.getElementById('product-link').value;
            let languageID = document.getElementById('language-id').value;
            let CategoryID = document.getElementById('category-id').value;
            let RefKey = document.getElementById('ref-key').value;
            let shortDescription = document.getElementById('short-description').value;
            let longDescription = document.getElementById('long-description').value;

    // Create a new FormData object
    formData.append('productName', productName);
    formData.append('productLink', productLink);
    formData.append('languageID', languageID);
    formData.append('CategoryID', CategoryID);
    formData.append('RefKey', RefKey);
    formData.append('short-description', shortDescription);
    formData.append('long-description', longDescription);
    formData.append('altText', altText);
    formData.append('file', file);

    // console.log("Sending file:", file);

    // Create a new XMLHttpRequest object
    let xhr = new XMLHttpRequest();

    // Configure the request
    // xhr.open('POST', '/add_product_lang');
    xhr.open('POST', '/add_product');
    xhr.setRequestHeader('X-CSRFToken', csrfToken);

    // Define what happens on successful data submission
    xhr.onload = function () {
        if (xhr.status === 200) {
            let response = JSON.parse(xhr.responseText);

            let mistakesDiv = document.getElementById('mistakes');
            mistakesDiv.innerHTML = ''; // Clear previous messages

            if (response.status === '2') {
                // Handle empty product name
                mistakesDiv.innerHTML = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '3') {
                // Handle existing product name
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '4') {
                // Handle empty product link
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '5') {
                // Handle existing product link
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            }  else if (response.status === '6') {
                // Handle product category error
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';
                
                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });
                
                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');
                
            }  else if (response.status === '0') {
                // Handle Unknown Error
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                mistakesDiv.style.display = 'flex';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '1') {
                // Handle success
                // alert(response.answer);
                let prURL = window.location.origin  + '/product/' + response.Ref_Key;
                location.href = prURL;
            }
        } else {
            // Handle error response
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');

            console.error('Error adding category:', xhr.responseText);
        }
    };

    // Send the request with the FormData object
    xhr.send(formData);
});

</script>
<!-- End of thumbnail image manipulations -->


<script>
    
    const inputElement = document.getElementById("product-link");

    inputElement.addEventListener("keyup", (event) => {
    const newValue = event.target.value.replace(/\s/g, "-");
    inputElement.value = newValue;
    });


</script>

{% endblock %}