{% extends 'base.html' %}

{% block head %}
{% if resultActions.data[0]['rolID'] == 4 %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <style>
    .chart-wrapper {
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }

    .chart-filters {
      display: inline-flex;
      gap: 8px;
      margin-top: 12px;
    }
    .chart-filters select {
      padding: 6px 10px;
      border: 1px solid #bbb;
      border-radius: 4px;
      background: #fff;
      font: inherit;
      cursor: pointer;
      transition: border-color .2s;
    }
    .chart-filters select:hover {
      border-color: #888;
    }

    /* make your chart fill its container */
    .chart-wrapper {
      width: 700px; height: 400px;
    }
    /* when in fullscreen mode, let it expand to viewport */
    :fullscreen .chart-wrapper {
      width: 100vw;
      height: 100vh;

    }
    :fullscreen .chart-filters {
      display: none;
    }

    /* ensure the full-screen wrapper stays white */
    .chart-wrapper:fullscreen {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #fcfcfa;
    }
    /* WebKit/Blink */
    .chart-wrapper:-webkit-full-screen {
      background-color: #fcfcfa;
    }
    /* Firefox */
    .chart-wrapper:-moz-full-screen {
      margin: auto;
      background-color: #fcfcfa;
    }
    /* IE11 */
    .chart-wrapper:-ms-fullscreen {
      background-color: #fcfcfa;
    }

    .secondary {
        border: unset;
        background-color: unset;
        cursor: pointer;
        font-size: 28px;
        color: #e76f51;
    }

    #filter, #filterPie {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    #filter:hover, #filterPie:hover {
      filter: brightness(1.1);         
    }

    .chart-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      gap: 15px;
    }

    @media (max-width: 1100px) {
      .chart-container {
        flex-direction: column;
        gap: 70px;
      }
      .chart-wrapper {
        width: 100%;
        height: 400px;
      }

      .card-container {
        margin-top: 7%!important;
      }
    }

  </style>
{% endif %}

<style>
  .card:hover {
    filter: brightness(1.1);          /* 1.05 = +5%; 1.1 = +10% */
  }

</style>

{% endblock %}


{% block title %}
    {{ _('Admin Panel') }}
{% endblock %}
{% block content %}

{% set margins = "margin: 5% 0% 3% 0%;" %}
{% if resultActions.data[0]['rolID'] == 4 %}
{% set margins = "margin: 3% 0% 3% 0%;" %}
<div class="chart-container" >
  <div class="chart-wrapper persons">
      <canvas id="myChart" width="700" height="400"></canvas>
      
      <!-- ▼ your three dropdowns ▼ -->
      <div class="chart-filters ">
        <select id="yearSelect">
          <option>2025</option>
          <option>2024</option>
          <option>2023</option>
        </select>

        <select id="monthSelect">
          <option value="">{{ _('All Months') }}</option>
          <option value="01">{{ _('January') }}</option>
          <option value="02">{{ _('February') }}</option>
          <option value="03">{{ _('March') }}</option>
          <option value="04">{{ _('April') }}</option>
          <option value="05">{{ _('May') }}</option>
          <option value="06">{{ _('June') }}</option>
          <option value="07">{{ _('July') }}</option>
          <option value="08">{{ _('August') }}</option>
          <option value="09">{{ _('September') }}</option>
          <option value="10">{{ _('October') }}</option>
          <option value="11">{{ _('November') }}</option>
          <option value="12">{{ _('December') }}</option>
        </select>

        <select id="person">
          <option value="">{{ _('All Affiliates') }}</option>
          <option value="0">{{ _("Mammy's Bread") }}</option>
        </select>

        <button id="filter" class="primary">{{ _('Submit') }}</button>
        <button id="downloadPdf" class="secondary" title="Download PDF"><i class="fa-solid fa-file-arrow-down"></i></button>
      </div>
  </div>

  <div class="chart-wrapper sales" style="width: 400px;">
      <canvas id="myChartPie"></canvas>
      
      <!-- ▼ your three dropdowns ▼ -->
      <div class="chart-filters">
        <select id="yearSelectPie">
          <option>2025</option>
          <option>2024</option>
          <option>2023</option>
        </select>

        <select id="monthSelectPie">
          <option value="">{{ _('All Months') }}</option>
          <option value="01">{{ _('January') }}</option>
          <option value="02">{{ _('February') }}</option>
          <option value="03">{{ _('March') }}</option>
          <option value="04">{{ _('April') }}</option>
          <option value="05">{{ _('May') }}</option>
          <option value="06">{{ _('June') }}</option>
          <option value="07">{{ _('July') }}</option>
          <option value="08">{{ _('August') }}</option>
          <option value="09">{{ _('September') }}</option>
          <option value="10">{{ _('October') }}</option>
          <option value="11">{{ _('November') }}</option>
          <option value="12">{{ _('December') }}</option>
        </select>
        
        <select id="top" title="{{ _('Chose the number of top products') }}">
          <option value="">{{ _('Top') }}</option>
        </select>

        <select id="products" style="width: 115px;">
          <option value="">{{ _('Product') }}</option>
        </select>

        <button id="filterPie" class="primary">{{ _('Submit') }}</button>
        <button id="downloadPdfPie" class="secondary" title="Download PDF"><i class="fa-solid fa-file-arrow-down"></i></button>
      </div>
  </div>

</div>

{% endif %}

<div class="card-container" style="{{ margins }}">
{% if resultActions.length > 0 %}
  {% for row in resultActions.data %}
  <a href="{{ url_for('home', _external=True) + row['ActionDir'] }}" style="text-decoration: none;">
    <div class="card" style="background-color: #FFFFFF">
      <div class="card-content-stuff">
        <i class="{{ row['img']}}" style="font-size: 22px; color: #E76F51;"></i>
        <h2 class="card-title">
          {{ _(row['ActionName']) }}
        </h2>
        
      </div>
    </div>
  </a>
  {% endfor %}
{% else %}
  <h3>{{ _('No data to show!') }}</h3>
{% endif %}
</div>

{% if resultActions.data[0]['rolID'] == 4 %}
<script>
    let csrfToken = "{{ csrf_token() }}";

    //  BAR CHART
    const fullscreenPlugin = {
        id: 'fullscreen',
        afterInit(chart, args, opts) {
            const btn = document.createElement('button');
            btn.textContent = opts.buttonText || '⛶';
            Object.assign(btn.style, {
            position: 'absolute',
            top: '-2px',
            right: '8px',
            padding: '4px 8px',
            backgroundColor: 'white',
            borderRadius: '5px',
            border: '1px solid #f1f1ef',
            cursor: 'pointer',
            zIndex: 10
            });
            btn.onclick = () => {
            const container = chart.canvas.parentNode;
            if (!document.fullscreenElement) {
                container.requestFullscreen();
            } else {
                document.exitFullscreen();
            }
            };
            // position needs the parent to be relative
            chart.canvas.parentNode.style.position = 'relative';
            chart.canvas.parentNode.appendChild(btn);

            document.addEventListener('fullscreenchange', () => {
            chart.resize();
            });
        }
    };

    // Initialize chart 
    const ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
      type: 'bar',
      data: { labels: [], datasets: [{ label: '', data: [], backgroundColor: '#2A9D8F' }] },
      options: {
        responsive: true,
        plugins: { 
            legend: {display:false}, 
            title: {display:true, text:''},
            fullscreen: { buttonText: '⛶' },
        },
        scales: { x:{title:{display:true,text:''}}, y:{beginAtZero:true} }
      },
      plugins: [ fullscreenPlugin ]
    });

    // 3) A helper to redraw based on current filters:
    function applyFilters(load=false) {
      const languageID = `{{ languageID }}`;

      

      // Create a new FormData object
      let formData = new FormData();
      formData.append('language-id', languageID);
      formData.append('persons', '1');
      // formData.append('rol', resultActions.data[0]['rolID']);
      if (load === true) {
        formData.append('affiliates', '1');
      } else {
        const year    = document.getElementById('yearSelect').value;
        const month   = document.getElementById('monthSelect').value;
        const person = document.getElementById('person').value;

        formData.append('year', year);
        formData.append('month', month);
        formData.append('person', person);
      }



      // Create a new XMLHttpRequest object
      let xhr = new XMLHttpRequest();

      // Configure the request
      xhr.open('POST', '/get-chart-data');
      xhr.setRequestHeader('X-CSRFToken', csrfToken);

      // Define what happens on successful data submission
      xhr.onload = function() {
          if (xhr.status === 200) {
              let response = JSON.parse(xhr.responseText);
              
              if (response.status === '1') {
                  if (load === true) {
                    response.chartData.affiliates.forEach(affiliate => {
                      const option = document.createElement('option');
                      option.value = affiliate.ID;
                      option.textContent = affiliate.Initials + ' - ' + affiliate.Position;
                      document.getElementById('person').appendChild(option);
                    });
                  }

                  let fullData = response.chartData.data;

                  // Map to labels & values:
                  if (document.getElementById('person').value) {
                      chart.data.labels = fullData.map(d => document.querySelector(`select[id="monthSelect"] option[value="${d.month}"]`).textContent + ' (' + d.value + ')');
                  } else {

                    chart.data.labels = fullData.map(d => {
                      let personLabel;
                      personLabel = d.label;
                      if (d.label == null) {
                        personLabel = document.querySelector('select[id="person"] option[value="0"]').textContent;
                      } 
                      return personLabel + ' (' + d.value + ')';
                    });
                  }
                  const colors = pickColors(fullData.length);
                  chart.data.datasets[0].backgroundColor = colors;
                  chart.data.datasets[0].data = fullData.map(d => d.value);
                  chart.update();
                  
              }
              
              if (response.status === '0') {
                  alert(response.answer);
              }
          } else {
              // Handle error response
              console.error('Error adding category:', xhr.responseText);
          }
      };

      // Send the request with the FormData object
      xhr.send(formData);

    }

    // 4) Hook all three dropdowns to re-filter on change:
    // ['yearSelect','monthSelect','person']
    //   .forEach(id => 
    //     document.getElementById(id).addEventListener('change', applyFilters)
    //   );
    document.getElementById('filter').addEventListener('click', applyFilters)

    // 5) Initial draw:
    applyFilters(true);

    // const fsBtn = document.getElementById('fsBtn');
    // const wrapper = document.getElementById('chartWrapper');

    // Download PDF
    const { jsPDF } = window.jspdf;

    document
      .getElementById('downloadPdf')
      .addEventListener('click', () => {
        const imgData = chart.canvas.toDataURL('image/png', 1.0);
        const pdf = new jsPDF('landscape', 'pt', [myChart.width, myChart.height]);
        pdf.addImage(imgData, 'PNG', 0, 0, myChart.width, myChart.height);
        pdf.save('affiliates.pdf');
      });

// End of BAR CHART

// Pie CHART
    const fullscreenPluginPie = {
        id: 'fullscreenPie',
        afterInit(chart, args, opts) {
            const btn = document.createElement('button');
            btn.textContent = opts.buttonText || '⛶';
            Object.assign(btn.style, {
            position: 'absolute',
            top: '-2px',
            right: '8px',
            padding: '4px 8px',
            backgroundColor: 'white',
            borderRadius: '5px',
            border: '1px solid #f1f1ef',
            cursor: 'pointer',
            zIndex: 10
            });
            btn.onclick = () => {
            const container = chart.canvas.parentNode;
            if (!document.fullscreenElement) {
                container.requestFullscreen();
            } else {
                document.exitFullscreen();
            }
            };
            // position needs the parent to be relative
            chart.canvas.parentNode.style.position = 'relative';
            chart.canvas.parentNode.appendChild(btn);

            document.addEventListener('fullscreenchange', () => {
              chart.resize();
            });
        }
    };

    // Initialize chart 
    const ctxPie = document.getElementById('myChartPie').getContext('2d');
    let chartPie = new Chart(ctxPie, {
      type: 'pie',
      data: { labels: [], datasets: [{ label: '', data: [], backgroundColor: '#2a9d8f' }] },
      options: {
        responsive: true,
        plugins: { 
            legend: {display:false}, 
            title: {display:false,},
            fullscreen: { buttonText: '⛶' },  
        },
        scales: { x:{title:{display:true,text:''}}, y:{beginAtZero:true} }
      },
      plugins: [ fullscreenPluginPie  ]
    });

    // 3) A helper to redraw based on current filters:
    let loadPie = true;
    function applyFiltersPie() {
      
      const languageID = `{{ languageID }}`;      

      // Create a new FormData object
      let formData = new FormData();
      formData.append('language-id', languageID);
      formData.append('sales', '1');
      if (loadPie === false) {
        const year    = document.getElementById('yearSelectPie').value;
        const month   = document.getElementById('monthSelectPie').value;
        const top   = document.getElementById('top').value;
        const product   = document.getElementById('products').value;

        formData.append('year', year);
        formData.append('month', month);
        formData.append('top', top);
        formData.append('product', product);
      }



      // Create a new XMLHttpRequest object
      let xhr = new XMLHttpRequest();

      // Configure the request
      xhr.open('POST', '/get-chart-data');
      xhr.setRequestHeader('X-CSRFToken', csrfToken);

      // Define what happens on successful data submission
      xhr.onload = function() {
          if (xhr.status === 200) {
              let response = JSON.parse(xhr.responseText);
              
              if (response.status === '1') {
                  if (loadPie === true) {
                    let dataLen = response.chartData.data.length;
                    let limit = response.chartData.limit;
                    num = limit;
                    const topSelect = document.getElementById('top');
                    while (true) {
                      const option = document.createElement('option');
                      option.value = num;
                      option.textContent = num;
                      topSelect.appendChild(option);
                      num = num + limit;
                      if (num > dataLen) {
                        option.value = dataLen;
                        option.textContent = dataLen;
                        topSelect.appendChild(option);
                        break;
                      }
                    }
                  }

                  const productSelect = document.getElementById('products');
                  response.chartData.products.forEach(product => {
                    const option = document.createElement('option');
                    option.value = product.ID;
                    option.textContent = product.Title;
                    productSelect.appendChild(option);
                  });

                  let fullData = response.chartData.data;

                  // Map to labels & values:
                  if (document.getElementById('person').value) {
                      chartPie.data.labels = fullData.map(d => document.querySelector(`select[id="monthSelect"] option[value="${d.month}"]`).textContent + ' (' + d.value + ')');
                  } else {

                    chartPie.data.labels = fullData.map(d => d.label);
                  }
                  const colors = pickColors(fullData.length);

                  chartPie.data.datasets[0].data = fullData.map(d => d.value);
                  chartPie.data.datasets[0].backgroundColor = colors;
                  chartPie.update();
                  
                  
              }
              
              if (response.status === '0') {
                  alert(response.answer);
              }

              loadPie = false;
          } else {
              // Handle error response
              console.error('Error adding category:', xhr.responseText);
          }
      };

      // Send the request with the FormData object
      xhr.send(formData);

    }

    document.getElementById('filterPie').addEventListener('click', applyFiltersPie);

    // 5) Initial draw:
    applyFiltersPie();

    document
      .getElementById('downloadPdfPie')
      .addEventListener('click', () => {
        const imgData = chartPie.canvas.toDataURL('image/png', 1.0);
        const pdf = new jsPDF('landscape', 'pt', [myChartPie.width, myChartPie.height]);
        pdf.addImage(imgData, 'PNG', 0, 0, myChartPie.width, myChartPie.height);
        pdf.save('products.pdf');
      });

// End of Pie CHART

const preset = [
  '#2a9d8f', '#e76f51', '#db7056', '#db8a56', '#dba356', '#dbbd56',
  '#dbd756', '#c5db56', '#acdb56', '#92db56', '#78db56',
  '#5fdb56', '#56db67', '#56db81', '#56db9b', '#56dbb4',
  '#56dbce', '#56cedb', '#56b4db', '#569bdb', '#5681db',
  '#5667db', '#5f56db', '#7856db', '#9256db', '#ac56db',
  '#c556db', '#db56d7', '#db56bd', '#db56a3', '#db568a',
  '#db5670', '#db5656', '#db7a56', '#db8f56', '#dba356'
];

function pickColors(n) {
  return Array.from({length: n}, (_, i) => preset[i % preset.length]);
}

</script>
{% endif %}

{% endblock %}