{% extends 'base.html' %}
{% block title %}
  {{ result['data'][0].Firstname + ' ' + result['data'][0].Lastname }}
{% endblock %}


{% block head %}

<!-- Bootstrap CSS -->
<link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    
  <style>
    body {
        background-color: #fdf6ec;
    }

    .container {
      padding-top: 30px;
    }
    table {
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th {
      cursor: pointer;
    }

    th, td {
      text-align: left;
      padding: 16px;
    }



    * {
      box-sizing: border-box;
    }

    #cancelBtn {
      border-radius: 25px;
      background-color: white;
      border-color: #333;
      color: #333;
    }
    /* Stepper container */
    .stepper {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 40px 0;
    }
    /* Each step item */
    .step {
      flex: 1;
      text-align: center;
      position: relative;
    }
    /* The connecting line between steps */
    /* .step::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -50%;
      width: 100%;
      height: 2px;
      background-color: #dcdcdc;
      z-index: -1;
    } */
    /* Remove line for the last step */
    .step:last-child::after {
      content: none;
    }
    /* The circle indicator */
    .circle {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
      line-height: 80px;
      font-weight: bold;
      color: black;
      /* padding: 15px; */
      
    }
    /* Completed steps style */
    .step.completed .circle {
      background-color: #0bc275;
    }
    /* active1 (current) step style */
    .step.active1 .circle {
      background-color: #FCC628!important;
    }

    
    .Voided {
      border: 5px solid #0bc275;
    }

    .Pending {
      border: 5px solid #0bc275;
    }

    .Approved  {
      border: 5px solid #0bc275;
    }

    .Settled {
      border: 5px solid #0bc275;
    }

    a {
      color: #333!important;
    }


    /* Mobile adjustments: stack steps vertically */
    @media (max-width: 576px) {
      .stepper {
        flex-direction: column;
        align-items: center;
      }
      .step {
        width: 100%;
        margin-bottom: 20px;
      }
      .step::after {
        content: none;
      }
      /* .circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
      } */
      .step p {
        font-size: 0.9rem;
      }
    }
    </style>
{% endblock %}

{% block content %}

{{ sideBar | safe }}

<div class="container">
  {% set welcome = _('Welcome dear') %}
  {% set welcome2 = _('Below is the summary of your payment and reward progress.') %}
  {% if stuff == True %}
    {% set welcome = _('Window for') %}
    {% set welcome2 = _('Below is the summary of payment and reward progress of the current affiliate.') %}
  
  {% endif %}
  <h2 class="text-center mt-2">{{ welcome }} {{ result['data'][0].Firstname + ' ' + result['data'][0].Lastname }}</h2>
  <p class="text-center mt-1">{{ welcome2 }}</p>
  <!-- Stepper container -->
  <div id="stepper" class="stepper"></div>
</div>

<div class="container" >
  
{% if resultP.length > 0 %}
<div class="table-container toRight" id="tableDaddy">
  <table id="myTable">
    <thead>
      <tr>
        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Promo Code') }} 
  
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>
        
        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Expiration Date') }} 
  
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Status') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
            </div>
          </div>
        </th>
        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Details') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
            </div>
          </div>
        </th>
        <th title="{{ _('Purchase History') }}">
          <div style="display: flex; align-items: center;">
            {{ _('P/H') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
            </div>
          </div>
        </th>
      </tr>
      </thead>
{% for row in resultP.data %}
  {% set status = _('Active') %}
  {% if row['Status'] == 0 %}
    {% set status = _('Inactive') %}
  {% elif row['expDate'] < currentDate %}
    {% set status = _('Expired') %}
  {% endif %}
  {% set expDateStyle = '' %}
  {% if row['expDate'] is not none and row['expDate'] < currentDate %}
  {% set expDateStyle = 'color: red;' %}
  {% endif %}
  
  
    <tr>
      <td>{{ row['Promo'] }}</td>

      <td style="{{ expDateStyle }}">{{ row['expDate'] }}</td>
      <td>{{ status }}</td>
      <td>
        {% set promoDetailsUrl = url_for('promo_code_details', promo=row['Promo']) %}
        {% set affiliateOrdersUrl = url_for('home') + 'affiliate-orders/page=1&status=all&promoCode=' + row['Promo'] %}
        
        {% if stuff == True %}
          {% set promoDetailsUrl = url_for('home') + 'stuff-promo-code-details/promoCode=' + row['Promo'] + '&affiliate=' + affID %}
          {% set affiliateOrdersUrl = url_for('home') + 'stuff-affiliate-orders/page=1&status=all&promoCode=' + row['Promo'] + '&affiliate=' + affID %}
        {% endif %}
        <a href="{{ promoDetailsUrl }}" title="{{ _('Details') }}"><i class="fas fa-eye" style="font-size: 20px; color: #0bc275;"></i></a>
      </td>
      <td>
        <a href="{{ affiliateOrdersUrl }}" title="{{ _('Purchase History') }}"><i class="fas fa-info-circle" style="font-size: 20px; color: #0bc275;"></i></a>
      </td>
    </tr>
    
    
{% endfor %}

  </table>
</div>

{% else %}
<h3 style="text-align: center;">{{ _('No promo code registered') }}</h3>
{% endif %}
</div>


<script>

  const resultRevardsList = JSON.parse('{{ resultRevardsList|safe }}');

// Set the initial order status (starting at "Purchased")
let currentStatus = 1;

// Generate the stepper UI (excluding Cancelled status)
const stepper = document.getElementById("stepper");
// Get keys for steps (excluding key "0") sorted in numerical order
const stepsKeys = Object.keys(resultRevardsList);
  // .filter(key => key !== "0")
  // .sort((a, b) => a - b);


stepsKeys.forEach(key => {
  // Create a step container
  const stepDiv = document.createElement("div");
  stepDiv.classList.add("step");
  stepDiv.setAttribute("data-status", key);

  // Create the circular indicator
  const circle = document.createElement("div");
  circle.classList.add("circle", resultRevardsList[key][2]);
  circle.innerText = resultRevardsList[key][1];

  // Create the label for the status
  const label = document.createElement("a");
  label.classList.add("mt-2");
  // label.target = "_BLANK";
  label.href = "{{ url_for('home', _external=True) }}" + resultRevardsList[key][3];
  label.innerText = resultRevardsList[key][0];

  // Append the circle and label to the step container
  stepDiv.appendChild(circle);
  stepDiv.appendChild(label);
  // Append the step to the stepper container
  stepper.appendChild(stepDiv);
});


// Event handler for canceling the order
if (document.getElementById("cancelBtn")) {

  document.getElementById("cancelBtn").addEventListener("click", () => {
    currentStatus = 0;
    updateStepper();
    alert("Order Cancelled");
  });
  
}
// Initialize the stepper UI on page load
// updateStepper();

window.addEventListener('load', () => {
  document.querySelector('body').classList.add('loaded');
});

let trace;

function sortTable(arrowElement, n, direction) {
  
  // console.log(n);
  if (trace === String(n) + direction) {
    return;
  }

  trace = String(n) + direction;
  
  document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  arrowElement.style.color = '#ff0000';

  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
{% endblock %}