{% extends 'base.html' %}
{% block title %}
{{ _('Affiliate Transfares') }}
{% endblock %}


{% block head %}

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- International Telephone Input JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.7/js/intlTelInput.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- International Telephone Input CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/css/intlTelInput.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='quill.snow.css') }}">
<style>
#orderStatus {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.my-phone-control {
  padding-top: 7px!important;
  padding-bottom: 7px!important;
  border-radius: 5px!important;
}

.filter-inputs {
  background-color: white;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  font-size: 16px;
  border-radius: 5px;
  /* margin-right: 1px; */
}

.dropbtn, .filter {
  background-color: #0bc275; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 5px; 
  flex: 1; 
  min-width: 50px;
}

.filter-container {
  margin-bottom: 20px; 
  display: flex; 
  gap: 10px; 
  align-items: center; 
  flex-wrap: wrap;
}

.cancelled {
  text-decoration: line-through !important;
}


.ql-snow .ql-picker.ql-font .ql-picker-label::before, .ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: 'Roboto';
}

.ql-snow .ql-picker.ql-font {
    width: 120px;
}


.product-container {
    background-color: white;
    margin-top: unset;
    padding: 0px 20px;
}

.pt-quantity-modal-content {
    width: 50%;
}

.edit-user span:hover {
  cursor: pointer;
}


</style>

{% endblock %}

{% block content %}

{{ sideBar | safe }}
<div class="container" >
  <h2 style="text-align: center; margin: 20px auto;">{{ _('Your transfers history') }} </h2>

  <div class="table-container toRight" id="tableDaddy" style="max-width: 1320px;">

  <table id="myTable">
    <thead>
      <tr>

      <th>
        <div style="display: flex; align-items: center;">
         {{ _('Transaction ID') }} 

          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
          </div>
        </div>
      </th>

      <th>
        <div style="display: flex; align-items: center;">
         {{ _('Amount') }} 

          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
          </div>
        </div>
      </th>

      <th>
        <div style="display: flex; align-items: center;">
         {{ _('Type') }} 

          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
          </div>
        </div>
      </th>
      
      <th>
        <div style="display: flex; align-items: center;">
         {{ _('Date') }} 

          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
          </div>
        </div>
      </th>

      
      <th></th>
      </tr>
    </thead>
  {% if result.length > 0 %}
    <tbody>
      {% for row in result.data %}
      {% set type = '' %}
      {% if row['type'] == 1 %}
        {% set type = _('Revard') %} 
      {% elif row['type'] == 2 %}
        {% set type = _('Compensation') %}
      {% endif %}

      <tr>
        <td data-label="{{ _('Transaction ID') }}" class="flex" style="display: table-cell;">
          {{ row['transactionID'] }}
        </td>
        
        <td data-label="{{ _('Amount') }}" class="flex" style="display: table-cell;">
          {{ row['amount'] }}
        </td>
        
        <td data-label="{{ _('Promo Code') }}" class="flex" style="display: table-cell;">
          {{ type }}
        </td>
   
        <td data-label="{{ _('Net') }}" class="flex" style="display: table-cell;">
          {{ row['timestamp'] }}
        </td>
   

        <td class="edit-user">
          {% set note = '' %}
            {% if row['note'] is not none %}
            <span data-value="{{ row['notesID'] }}" class="show-transfer-details" title="{{ _('Transaction Details') }}" style="color:#0bc275"><i class="fas fa-eye"></i></span>
          {% endif %}
          
        </td>

      </tr>
      {% endfor %}
      
      {% else %}
      <tr><td><p style="padding: 15px; font-size: 26px;">{{ _('Nothing found.') }}</p></td></tr>  
    {% endif %}
  </tbody>
  </table>

  {% if numRows > pagination %}

  <div class="pagination">
    {% set additionalPage = 0 %}
    {% if numRows % pagination > 0 %}
      {% set additionalPage = 1 %}
    {% endif %}

    {% if page > 1 %}
    {% set urlPrev = '/' + (page - 1) | string %}
    <div data-value="{{ page - 1 }}">❮</div>
    {% endif %}
    {% for i in range(1, (numRows // pagination) + additionalPage + 1) %}
    
    {% set urlPage = '/' ~ i %}
    <div {% if i == page %} class="active" {% endif %} data-value="{{ i }}">{{ i }}</div>
    {% endfor %}
    

    {% if page < (numRows // pagination) + additionalPage  %}
    {% set urlNext = '/' + (page + 1) | string %}
    <div data-value="{{ page + 1 }}">❯</div>
    {% endif %}
    
  </div>
  

  {% endif %}

  <div id="myModal" class="transfer-details-modal hidden" >
    <div class="pt-quantity-modal-content">
      <span id="closeModalBtn" class="pt-quantity-close">×</span>
      <div class="product-container">

        <div id="editorContentParent">
            <span id="editorContent" class="ql-editor">
               
            </span>
        </div>
            
      </div>
    
    </div>
</div>


<script>
csrfToken = "{{ newCSRFtoken }}"
window.addEventListener('load', () => {
  document.querySelector('body').classList.add('loaded');
  document.querySelector('.pt-quantity-close').addEventListener('click', function () {
    document.querySelector('.transfer-details-modal').classList.toggle('hidden');
    document.querySelector('#editorContent').innerHTML = '';

  });

  if (document.querySelectorAll('.show-transfer-details')) {
    const showDetailsBtn = document.querySelectorAll('.show-transfer-details');
    showDetailsBtn.forEach(btn => {
      btn.addEventListener('click', function() {
        document.querySelector('#editorContent').innerHTML = "<p>{{ _('Loading.....') }}</p>";
        document.querySelector('.transfer-details-modal').classList.toggle('hidden');

        notesID = btn.getAttribute('data-value');
        
        let formData = new FormData();

        formData.append('notesID', notesID)     

        // Create a new XMLHttpRequest object
        let xhr = new XMLHttpRequest();

        // Configure the request
        xhr.open('POST', '/get-affiliate-transfer-details');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        // Define what happens on successful data submission
        xhr.onload = function () {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                if (response.status === '1') {
                    let content = response.row;
                    document.querySelector('#editorContent').innerHTML = content.note;
                    
                }

                if (response.status === '0') {
                  let content = `<p>${response.answer}</p>`;
                  document.querySelector('#editorContent').innerHTML = content;
                }
                 
            } 
        };

        // Define what happens in case of error
        xhr.onerror = function () {
            console.error('Request failed.');
        };

        // Send the request with the JSON data
        xhr.send(formData);
      });
    })
  }
});

let trace;

function sortTable(arrowElement, n, direction) {
  
  // console.log(n);
  if (trace === String(n) + direction) {
    return;
  }

  trace = String(n) + direction;
  
  document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  arrowElement.style.color = '#ff0000';

  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (!isNaN(x.innerHTML) && !isNaN(y.innerHTML)) {
        // Compare as numbers
        if (dir == "asc") {
          if (parseFloat(x.innerHTML) > parseFloat(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
            shouldSwitch = true;
            break;
          }
        }
      } else {
        // Compare as strings
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}


// $("#phone").intlTelInput({
//     initialCountry: "am",
//     utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js"
// });


// document.querySelector('.filter').addEventListener('click', function() {
  
//   let filterURL = constract_filter_url('1');
//   if (filterURL.status == 1) {
//     let affID = "{{ affID | safe}}";
//     let filterAff = '';
//     if (affID) {
//       filterAff = '&affiliate=' + affID;
//     }
//     window.location.href = filterURL.message + filterAff;

//   } else {
//     alert(filterURL.message)
//   }


// });

if (document.querySelectorAll('.pagination div')) {
  paginationDivs = document.querySelectorAll('.pagination div');
  paginationDivs.forEach(div => {
    div.addEventListener('click', function() {
      let page = div.getAttribute('data-value');
      window.location.href = 'page='+page;
    });
  });
}



function constract_filter_url(page) {
  let filterURL = 'page='+page;
  
  let orderStatus = document.getElementById('orderStatus').value;
  filterURL += '&status=' + orderStatus

  // let counteryCodeStr = document.querySelector('.selected-flag').getAttribute('title');
  // let counteryCodeArr = counteryCodeStr.split('+');
  // let countryCode = counteryCodeArr[1];

  
  const filters = document.querySelectorAll('.filter-container input');
  let flag = 0;
  filters.forEach(input => {
    if (input.value != '') {
      if (input.id == 'phone') {
        if (isValidPhoneString(input.value) === false) {
          flag = 1;
        }   
        
        let phoneVal = input.value;
        if (phoneVal.startsWith('+')) {
            phoneVal = phoneVal.replace('+', '');
        }
          
        filterURL += '&' + input.id + '=' + phoneVal;
          
      } else {
        filterURL += '&' + input.id + '=' + input.value;
      }
    }
  });

  if (flag === 1) {
    return {'status': 0, 'message': "{{ _('Invalid phone number') }}"};
  }
  
  return {'status': 1, 'message': filterURL}
  
}


function isValidPhoneString(str) {
  // The regex explanation:
  // ^            : start of string
  // [0-9()+\-]   : allowed characters: digits, parentheses, plus, hyphen (hyphen is escaped)
  // +            : one or more of the allowed characters
  // $            : end of string
  const regex = /^[0-9()+\-]+$/;
  return regex.test(str);
}




</script>


{% endblock %}