<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    

    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quill.snow.css') }}">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <script>
        
      // Function to get the CSRF token from the meta tag
      function getCsrfToken() {
          return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      }
      
      const csrfToken = getCsrfToken();
    </script>
    
    {% block head %}
    
    {% endblock %}
  </head>
  <body>

    {% block content %}

    {% endblock %}
    
    
  </body>

</html>