<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <title>
        {% block title %}

        {% endblock %}
    </title>
    <script type="text/javascript" src="{{ url_for('static', filename='JS/cookie.umd.min.js') }}"></script>
    <script>

    window.addEventListener('load', () => {
      document.querySelector('body').classList.add('loaded');
    });
        
      // Function to get the CSRF token from the meta tag
      // function getCsrfToken() {
      //     return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      // }
      
      
    </script>
    
    {% block head %}
    
    {% endblock %}
  </head>
  <body>
    {% if userBool != False %}
    <div class="header-stuff" style="display: flex; flex-direction: row; justify-content: space-between;">
      {% if rolls | length == 0 %}
      <div class="flex avatar-stuff" style="gap: 10px;">
        <img src="{{ url_for('static', filename='images/stuff-tools.png') }}" onclick="toggleSidebar()" alt="{{ _('Tools') }}" class="avatar" style="cursor: pointer; width: 70px; height: 70px;">
        <span style="font-size: 20px; font-weight: bold; color: #ffffff;"> {{ _(actionInfo.role) + ' | ' + _(actionInfo.actionName) }}</span>
      </div>
        <!-- <img src="{{ url_for('static', filename='images/stuff-tools.png') }}" onclick="toggleSidebar()" alt="{{ _('Tools') }}" style="cursor: pointer; width: 70px; height: 70px;" > -->
      {% else %}
        {% if rolls[0]['Avatar'] %}
          <div class="flex avatar-stuff" style="gap: 10px;">
            <img src="{{ url_for('static', filename='images/stuff/') + rolls[0]['Avatar'] }}" class="avatar" alt="{{ rolls[0]['AltText'] }}">
            <span style="font-size: 20px; font-weight: bold; color: #ffffff;">{{ rolls[0]['Firstname'] + ' ' + rolls[0]['Lastname'] }}</span>
          </div>
        {% else %}
          {% set initial_1 =  rolls[0]['Firstname'] %}
          {% set initial_2 =  rolls[0]['Lastname'] %}
          <div class="flex avatar-stuff">
            <div class="avatar" style="background-color: #ffffff; color: #333; text-align: center; line-height: 80px; font-weight: bold; font-size: 17pt;">{{ initial_1[0] + initial_2[0] }}</div>
            <span style="font-size: 20px; font-weight: bold; color: #ffffff;">{{ rolls[0]['Firstname'] + ' ' + rolls[0]['Lastname'] }}</span>
          </div>
        {% endif %}

      {% endif %}

      
      <!-- <div class="header-stuff-right">
        <a class="" href="{{ url_for('home') + 'logout' }}"><i class="fas fa-right-from-bracket"></i>{{ _('Logout') }}</a>
      </div> -->
      
      <div class="header-stuff-right" style="display: flex; align-items: center;">
        {% if rolls | length > 1 %}
        
          {% if rolls | length > 3 %}

            {% for row in rolls %}
              {% set rollClass = 'rolls margin-right'%}
              {% if row['rolID'] == activeRoleID %}
                {% set rollClass = 'rolls margin-right selectedRole' %}
              {% endif %}

                <a class='{{ rollClass }}' href="{{ url_for('home', _external=True) + 'setroll/' + row['rolID'] | string }}">{{ row['Rol']}}</a>
            {% endfor %}
            
          {% else %}

            {% for row in rolls %}
                {% set rollClass = 'rolls margin-right'%}
                {% if row['rolID'] == activeRoleID %}
                  {% set rollClass = 'rolls margin-right selectedRole' %}
                {% endif %}

                  <a class='{{ rollClass }}' href="{{ url_for('home', _external=True) + 'setroll/' + row['rolID'] | string }}">{{ row['Rol']}}</a>
              {% endfor %}

          {% endif %}


        {% endif %}

        {% if supportedLangsData | length > 1 %}     
        <select onchange="location = '/setlang?lang=' + this.value;" class="lang-drop-down">
          {% for lang in supportedLangsData %}
          <option value="{{ lang['Prefix'] }}" {{ 'selected' if get_locale() ==  lang['Prefix']  else '' }}>{{ lang['Language'] }}</option>
          {% endfor %}
        </select>
        {% endif %}
        <a class="" href="{{ url_for('home') + 'logout' }}" title="{{ _('Logout') }}"><i class="fas fa-right-from-bracket" style="font-size: 25px; color: #fff;"></i></a>
        
      </div>
      
    </div>
    {% endif %}
    
    {% block content %}
    

    {% endblock %}


    
    <script>
      if (document.getElementById("sidebar")) {

        let closedNav = true;
        const openWith = "11%";
        const closeWith = "0";
        
        let myTable = document.getElementById("tableDaddy");
        let myTables = document.querySelectorAll(".tableDaddy");
        let sidebar = document.getElementById("sidebar");
        
        toggleSidebar();
        
        function toggleSidebar() {
          // const sidebar = document.getElementById('sidebar');
          
          if (closedNav == true) {
            // sidebar.style.width = '250px';  
            // sidebar.style.padding = '20px';  
            // sidebar.style.display = 'flex';  
            
            sidebar.classList.toggle('collapsed');
            if (myTable) {
              myTable.style.marginLeft = '0%';
            }
            
            if (myTables) {
              myTables.forEach(table => {
                table.style.marginLeft = '0%';
              });
            }
            
            closedNav = false;
          } else {
            
            sidebar.classList.toggle('collapsed');
            if (myTable) {
              myTable.style.marginLeft = '11%';
            }
            
            if (myTables) {
              myTables.forEach(table => {
                table.style.marginLeft = '11%';
              });
            }
            
            closedNav = true;
          }
        }
        
      }

      
      </script>


  </body>

</html>