<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quill.snow.css') }}">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    
    {% block head %}
    
    {% endblock %}
  </head>
  <body>

<!-- Top Right Navigation Bar -->
<!-- <nav class="top-right-nav">
  <a href="/login" id="loginButton">{{ _('Login') }}</a>
  <a href="/signup" id="signupButton">{{ _('Sign Up') }}</a>
  <select onchange="location = '/setlang?lang=' + this.value;">
      <option value="en" {{ 'selected' if get_locale() == 'en' else '' }}>English</option>
      <option value="hy" {{ 'selected' if get_locale() == 'hy' else '' }}>Հայերեն</option>
      <option value="ru" {{ 'selected' if get_locale() == 'ru' else '' }}>Русский</option>
  </select>
</nav>
       -->
    {% block content %}

    {% endblock %}
    
    
  </body>

</html>