{% extends 'base.html' %}
{% block title %}
    {{ _('Edit Product Category') }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='dropzon.css') }}">  
<link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">  
<link rel="stylesheet" href="{{ url_for('static', filename='cropper.min.css') }}">  

<style>
    .dz-details:hover {
        cursor: pointer;
    }

    .dz-remove-btn:hover {
        background-color: #c82333;
        cursor: pointer;
    }


    .alt-input:hover {
        cursor: auto;
    }

</style>

{% endblock %}

{% block content %}
    <div class="containerS">
        {% if content.content == False %}
        <img src="{{ url_for('static', filename='images/error.png' ) }}" >
        <H3> {{ _('Something went wrong.') }} </H3>
        {% else %}
        <h1>{{ _('Edit Article Category') }}</h1>
        <div id="mistakes"></div>
        <form id="product-category-form">
            <input type="hidden" id="category-id" value="{{ content.pc_id }}">
            <input type="hidden" id="img_value" value="">
            
            {% if pcImages.image == True %}
            
            <div class="pc_slider">
                    <h3 style="text-align: center;">{{ _('Images from other language(s)') }}</h3>

                    <div class="pc_slides">

                {% for image in pcImages.imageList %}

                    <div class="pc_slide active">
                        <img src="{{ url_for('static', filename='images/pc_uploads/' + image ) }}" >
                    </div>

                {% endfor %}
                
                        <!-- Add more slides as needed -->
                    </div>
                    <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                    <a class="next" onclick="moveSlide(1)">&#10095;</a>
                </div>
                
<script>
    let currentSlide = 0;

    function showSlide(index) {
        const slides = document.querySelectorAll('.pc_slide');
        const slidesToShow = 2;
        const totalSlides = slides.length;

        // Calculate the max index we can go to
        const maxIndex = Math.ceil(totalSlides / slidesToShow) - 1;

        // Wrap around if necessary
        if (index > maxIndex) {
            currentSlide = 0;
        } else if (index < 0) {
            currentSlide = maxIndex;
        } else {
            currentSlide = index;
        }

        // Calculate offset
        const offset = -currentSlide * 100;

        // Apply transform
        document.querySelector('.pc_slides').style.transform = `translateX(${offset}%)`;

        // Update active class
        slides.forEach((slide, idx) => {
            slide.classList.toggle('active', Math.floor(idx / slidesToShow) === currentSlide);
        });
    }

    function moveSlide(direction) {
        showSlide(currentSlide + direction);
    }

    document.addEventListener('DOMContentLoaded', () => {
        showSlide(currentSlide);

        // Add click event listener to each image
        const slides = document.querySelectorAll('.pc_slide');
        slides.forEach(slide => {
            slide.addEventListener('click', () => {
                // If the slide is already selected, deselect it
                if (slide.classList.contains('selected')) {
                    slide.classList.remove('selected');
                    // Clear the hidden input's value
                    document.getElementById('img_value').value = '';
                    document.getElementById('image').value = '1';
                } else {
                    // Deselect all slides
                    slides.forEach(s => s.classList.remove('selected'));
                    
                    // Select the clicked slide
                    slide.classList.add('selected');
                    
                    // Extract file name and type from img tag
                    const img = slide.querySelector('img');
                    const imgSrc = img.src.split('\\').pop().split('/').pop(); // Extract file name
                    const imgType = imgSrc.split('.').pop(); // Extract file type
                    const imgValue = `${imgSrc} (${imgType})`;

                    let trimmedImageName = imgValue.split(' ')[0].trim();
                    
                    // Update the hidden input's value
                    document.getElementById('img_value').value = trimmedImageName;
                    document.getElementById('image').value = '0';
                }
            });
        });
    });
</script>
            {% endif %}

            {% if content.image != 0 %}
            <div class="image-container">
                <img id="uploadedImage" src="{{ url_for('static', filename='images/pc_uploads/' + content.image) }}" alt="Uploaded Image">
                <button type="button" class="remove-image" onclick="removeImage()">X</button>
            </div>
            <input type="hidden" id="image" value="1">
            <input type="file" id="fileInput" name="file" style="display: none;">
            {% else %}
            <input type="file" id="fileInput" name="file">
            <input type="hidden" id="image" value="0">
            {% endif %}
            
            <input type="text" id="category-name" placeholder="Product category name" value="{{ content.name }}">
            
            <div class="status-container">
                <label>{{ _('Status') }}</label>
                <label><input type="radio" name="status" value="1" {% if content.status == 1 %} checked {% endif %}> {{ _('Active') }}</label>
                <label><input type="radio" name="status" value="0" {% if content.status == 0 %} checked {% endif %}> {{ _('Passive') }}</label>
            </div>
    
            <div id="saveButton" class="pcButtonS">{{ _('Save Changes') }}</div>
            <div  id="saving"    class="pcButtonS hidden">{{ _('Saving...') }}</div>
        </form>
        {% endif %}
    </div>
    
    
<script>
    // Remove the uploaded image and show file input
    function removeImage() {
        document.getElementById('uploadedImage').remove();
        document.querySelector('.remove-image').remove();
        let fileInput = document.getElementById('fileInput');
        fileInput.style.display = 'block';
        
        document.getElementById('image').value = '0';

    }

    // Get the form element
    let form = document.getElementById('product-category-form');

    // When the form is submitted
    const saveButton = document.getElementById('saveButton');
    saveButton.addEventListener('click', function(event) {
        // Prevent the default form submission
        event.preventDefault();

        const saveButton = document.getElementById('saveButton');
        const saving = document.getElementById('saving');

        saveButton.classList.add('hidden');
        saving.classList.remove('hidden');

        // Get the category ID, name, and file from the form
        let categoryId = document.getElementById('category-id').value;
        let categoryName = document.getElementById('category-name').value;
        let image = document.getElementById('image').value;
        let relImage = document.getElementById('img_value').value;
        let fileInput = document.getElementById('fileInput');
        let file = fileInput ? fileInput.files[0] : null;

        // Get all radio buttons with the name 'status'
        let categoryStatusRadios = document.getElementsByName('status');

        // Initialize a variable to store the value of the checked radio button
        let checkedValue = null;

        // Iterate over the NodeList to find the checked radio button
        for (let radio of categoryStatusRadios) {
            if (radio.checked) {
                checkedValue = radio.value;
                break; // Stop the loop once the checked radio button is found
            }
        }

        // Create a new FormData object
        let formData = new FormData();
        formData.append('pc_id', categoryId);
        formData.append('image', image);
        formData.append('relImage', relImage);
        formData.append('categoryName', categoryName);
        formData.append('categoryStatus', checkedValue);

        if (file) {
            formData.append('file', file);
        }

        // Create a new XMLHttpRequest object
        let xhr = new XMLHttpRequest();

        // Configure the request
        xhr.open('POST', '/edit_article_category');

        // Define what happens on successful data submission
        xhr.onload = function() {
            if (xhr.status === 200) {
                let response = JSON.parse(xhr.responseText);

                let mistakesDiv = document.getElementById('mistakes');
                mistakesDiv.innerHTML = ''; // Clear previous messages

                if (response.status === '2') {
                    // Handle empty category name
                    mistakesDiv.innerHTML = response.answer;
                    mistakesDiv.style.color = 'red';

                    // Scroll the window to the mistakesDiv with smooth behavior
                    mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                    saveButton.classList.remove('hidden');
                    saving.classList.add('hidden');

                } else if (response.status === '3') {
                    // Handle existing category name
                    mistakesDiv.textContent = response.answer;
                    mistakesDiv.style.color = 'red';

                    // Scroll the window to the mistakesDiv with smooth behavior
                    mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                    saveButton.classList.remove('hidden');
                    saving.classList.add('hidden');



                } else if (response.status === '1') {
                    // Handle success
                    // alert(response.answer);
                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                }
            } else {
                // Handle error response
                console.error('Error updating category:', xhr.responseText);
            }
        };

        // Send the request with the FormData object
        xhr.send(formData);
    });

    // Show file input if there is no image
    if (document.getElementById('image').value !== '1') {
        document.getElementById('fileInput').style.display = 'block';
    }
</script>


{% endblock %}