{% extends 'base.html' %}
{% block title %}
    {{ prData.Title }}
{% endblock %}


{% block head %}


<!-- Include Quill.js stylesheet -->
<!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='dropzon.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">

    <!-- Pickr themes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>

<style>
    .dz-details:hover {
        cursor: all-scroll;
    }

    .dz-remove-btn:hover {
        background-color: #c82333;
        cursor: pointer;
    }


    .alt-input:hover {
        cursor: auto;
    }

    .ql-editor .ql-align-center {
        text-align: center;
    }

</style>


{% endblock %}


{% block content %}

<!-- Top Left Navigation Bar -->
<nav class="top-left-nav">
    <a class="top-left-nav-a" 
        href="{{ url_for('home', _external=True) }}stuff" 
        style="text-decoration: none;"
        >
        
            {{ _('Dashboard') }}
    </a>
    <button class="chooseBlock" id="headerButton">{{ _('Header') }}</button>
    <button class="chooseBlock" id="textEditorButton">{{ _('Editor') }}</button>
    <button class="chooseBlock" id="thumbnailButton">{{ _('Thumbnail') }}</button>

    {% if prData.Status == 2 %}
        <a class="top-left-nav-a" 
            href="{{ url_for('home', _external=True) + prData['Url'] }}" 
            target="_blank"
            style="text-decoration: none;"
            >
            
                {{ _('View') }}
        </a>
    {% endif %}

    {% if supportedLangsData | length > 1 %}     
      <select onchange="location = '/setlang?lang=' + this.value;" class="styled-select">
        {% for lang in supportedLangsData %}
          <option value="{{ lang['Prefix'] }}" {{ 'selected' if get_locale() ==  lang['Prefix']  else '' }}>{{ lang['Language'] }}</option>
        {% endfor %}
      </select>
    {% endif %}

</nav>

<!-- Top Right Navigation Bar -->

<!-- Middle part -->
<input type="hidden" value="{{ prData.RefKey }}" id="RefKey">
<input type="hidden" id="language-id" value="{{ languageID }}">

<div class="overlay" id="overlay"></div>

{% set checked='' %}
{% if prData.Status == 2 %}
    {% set checked='checked' %}
{% endif %}

<div class="container">

    <div class="publish">
        <label class="switch" id="mySwitch">
            <span class="sliderA round {{ checked }}"></span>
        </label>
    </div>
        
    <div id="mistakes"></div>
    <!-- Slide Show and image uploader -->
    <span class="blocks hidden" id="mySlideShow">


        <form action="/upload" class="dropzone" id="myDropzone">
            <div class="dz-message dz-button">{{ _('Click here to upload files') }}</div>
        </form>

        <button id="uploadButton">{{ _('Upload Files') }}</button>

    

 

    <!-- Script for Dropzone (image upload) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

    <script>
        let csrfToken = "{{ csrf_token() }}"

            const prData = {{ prData | tojson }};
            const prSaving = prData.prSaving;
            const prUpdate = prData.prUpdate;

            // Initialize Dropzone
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#myDropzone", {
                url: "/upload",
                autoProcessQueue: false,
                addRemoveLinks: false,  // Disable default remove link
                previewsContainer: "#myDropzone",
                clickable: true,
                init: function () {
                    var dz = this;

                    dz.on("addedfile", function (file) {
                        // Create a new FileReader instance
                        var reader = new FileReader();

                        // Define the onload function for the FileReader
                        reader.onload = function (event) {
                            // Get the image data URL from the FileReader
                            var imageUrl = event.target.result;

                            // Open the image editor modal
                            openImageEditorModal(imageUrl, function (editedImageBlob) {
                                // Create a new Dropzone file object from the edited image blob
                                var editedFile = new File([editedImageBlob], file.name, { type: file.type });
                                dz.removeFile(file);
                                dz.addFile(editedFile);
                            });
                        };

                        // Read the image file as a data URL
                        reader.readAsDataURL(file);

                        // Add a custom remove button to the preview element
                        var removeButton = Dropzone.createElement("<button class='dz-remove-btn'>&times;</button>");
                        removeButton.addEventListener("click", function (e) {
                            e.preventDefault();
                            e.stopPropagation();
                            dz.removeFile(file);
                        });
                        file.previewElement.appendChild(removeButton);

                        var progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                        progressBars.forEach(function (progressBar) {
                            progressBar.style.display = "none";
                        });

                        // Add a text input for the alt attribute
                        var altInput = Dropzone.createElement("<input type='text' class='alt-input' placeholder='{{ _('Enter alt text') }}'>");
                        file.previewElement.appendChild(altInput);
                    });

                    dz.on("complete", function (file) {
                        // Hide progress bar when upload is completed
                        var progressBars = file.previewElement.querySelectorAll("[data-dz-uploadprogress], .dz-progress");
                        progressBars.forEach(function (progressBar) {
                            progressBar.style.display = "none";
                        });
                    });

                    // Handle the file upload when the button is clicked
                    document.getElementById("uploadButton").addEventListener("click", function () {
                        // Create a FormData object to hold the files
                        var formData = new FormData();

                        // Append each file to the FormData object
                        dz.files.forEach(function (file) {
                            formData.append("files[]", file);

                            // Add the alt text as a separate field
                            var altText = file.previewElement.querySelector(".alt-input").value;
                            formData.append("alt_text[]", altText);
                        });

                        // Send the files via POST using the Fetch API
                        fetch('/upload', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                // console.log("Upload success:", data);
                                alert("Files uploaded successfully!");
                            })
                            .catch(error => {
                                console.error("Upload error:", error);
                                alert("An error occurred while uploading the files.");
                            });
                    });
                }
            });

            // Initialize Sortable.js
            Sortable.create(myDropzone.previewsContainer, {
                draggable: ".dz-preview",
                onEnd: function (evt) {
                    // Handle reorder logic if necessary
                    console.log("Files reordered:", evt);
                }
            });

            // Image Editor Modal Logic
            var cropper;

            function openImageEditorModal(imageUrl, callback) {
                // Show the overlay
                document.getElementById('overlay').classList.add('show');

                // Create modal element
                var imageEditorModal = document.createElement('div');
                imageEditorModal.id = 'imageEditorModal';
                imageEditorModal.className = 'modal open';
                imageEditorModal.innerHTML = `
            <img id="imageToEdit" src="${imageUrl}" alt="Image to edit">
            <br>
            <button id="saveEditedImage">{{ _('Crop') }}</button>
            <button id="cancelEdit">{{ _('Close') }}</button>
        `;
                document.body.appendChild(imageEditorModal);

                var imageToEdit = document.getElementById('imageToEdit');

                cropper = new Cropper(imageToEdit, {
                    aspectRatio: 2 / 1.5,  // Set the aspect ratio to 2:1
                    viewMode: 1,
                    ready: function () {
                        // Get the Cropper instance
                        var cropperInstance = this.cropper;

                        // Get the natural size of the image
                        var naturalWidth = cropperInstance.imageData.naturalWidth;
                        var naturalHeight = cropperInstance.imageData.naturalHeight;

                        // Calculate the maximum size of the crop box
                        var maxCropBoxWidth = naturalWidth;
                        var maxCropBoxHeight = naturalHeight / (2 / 1.5);

                        // Set the crop box data to the maximum size
                        cropperInstance.setCropBoxData({
                            width: maxCropBoxWidth,
                            height: maxCropBoxHeight,
                            left: (naturalWidth - maxCropBoxWidth) / 2,
                            top: (naturalHeight - maxCropBoxHeight) / 2
                        });
                    }
                });

                document.getElementById('saveEditedImage').onclick = function () {
                    cropper.getCroppedCanvas().toBlob(function (blob) {
                        closeImageEditorModal(imageEditorModal);  // Close the modal first
                        callback(blob);
                    });
                };

                document.getElementById('cancelEdit').onclick = function () {
                    closeImageEditorModal(imageEditorModal);
                };
            }

            function closeImageEditorModal(modal) {
                cropper.destroy();
                modal.remove();
                // Hide the overlay
                document.getElementById('overlay').classList.remove('show');
            }

    </script>

        <!-- End of script for Dropzone (image upload) -->
       
        <script>
            function productCategoryDropDown() {

                const productCategory = {{ productCategory | tojson }}

            const dropdownContainer = document.getElementById('pcDropDown');
            if (productCategory.article_category.length > 0) {
                const select = document.createElement('select');
                select.name = 'product-category';
                select.id = 'category-id';
                select.classList.add('form-control');

                const defaultOption = document.createElement('option');
                defaultOption.value = '';
                defaultOption.textContent = '{{ _("Choose article category") }}';
                select.appendChild(defaultOption);

                productCategory.article_category.data.forEach(val => {
                    const optVal = val['Article_Category_Name'];
                    if (optVal !== null) {
                        const option = document.createElement('option');
                        option.value = val['Article_Category_ID'];
                        if (prData.Product_Category_ID === val['Article_Category_ID']) {
                            option.selected = true;
                        }
                        option.textContent = optVal;
                        select.appendChild(option);
                    }
                });

                dropdownContainer.appendChild(select); // Append the select element to the body or any other specific location
            }
        };


            function openHeaderEditorModal(prData) {
                // Show the overlay
                document.getElementById('overlay').classList.add('show');

                // Create modal element
                let ProductName = prData.Title;
                ProductLink = prData.Url;
                ProductLink = prData.Url;
                languageID = prData.LanguageID;
                ShortDescription = prData.ShortDescription;
                LongDescription = prData.LongDescription;

                headerEditorModal = document.createElement('div');
                headerEditorModal.id = 'headerEditorModal';
                headerEditorModal.className = 'modal open';
                headerEditorModal.innerHTML = `
    <div type="button" class="close" id="cancelHeaderEdit" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </div>
    <div class="modal-header">
        <h5 class="modal-title">{{ _('Edit Header') }}</h5>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <p id="mistakes_modal"></>
        </div>    
        <form id="add-product-form" class="form">
            <div class="form-group row">
                <label for="product-name" class="col-sm-3 col-form-label">{{ _('Article name') }}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="${ProductName}" id="product-name" >
                </div>
            </div>
            <div class="form-group row">
                <label for="product-link" class="col-sm-3 col-form-label">{{ _('Article link') }}</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" value="${ProductLink}" id="product-link" >
                </div>
            </div>
                    
            <div class="form-group row">
                <label for="short-description" class="col-sm-3 col-form-label">{{ _('Short Description') }}</label>
                <div class="col-sm-9">
                    <input type="text" id="short-description" class="form-control" value="${ShortDescription}" }}" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="long-description" class="col-sm-3 col-form-label">{{ _('Long Description') }}</label>
                <div class="col-sm-9">
                    <textarea id="long-description" class="form-control" placeholder="{{ _('Long description') }}" style="padding: 21px; font-family: Arial, sans-serif;">${LongDescription}</textarea>
                </div>
            </div>


            <div class="form-group row" id="pcDropDown"></div>
                    
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <div class="middleButtun" id="saveEditedHeader">${prUpdate}</div>
                    <div id="saving" class="hidden middleButtun">${prSaving}</div>
                </div>
            </div>
        </form>
    </div>
`;
                document.body.appendChild(headerEditorModal);
                productCategoryDropDown();

                const inputElement = document.getElementById("product-link");

                inputElement.addEventListener("keyup", (event) => {
                const newValue = event.target.value.replace(/\s/g, "-");
                inputElement.value = newValue;
                });

                // When the form is submitted
                const saveButton = document.getElementById('saveEditedHeader');
                
                saveButton.addEventListener("click", function (event) {
                    // Prevent the default form submission
                    event.preventDefault();

    const saveButton = document.getElementById('saveEditedHeader');
    const saving = document.getElementById('saving');

    saveButton.classList.add('hidden');
    saving.classList.remove('hidden');

    // Get the category name from the input field
    let productName = document.getElementById('product-name').value;
    let productLink = document.getElementById('product-link').value;
    let languageID = document.getElementById('language-id').value;
    let CategoryID = document.getElementById('category-id').value;
    let RefKey = document.getElementById('RefKey').value;
    let shortDescription = document.getElementById('short-description').value;
    let longDescription = document.getElementById('long-description').value;


    // Create a new FormData object
    let formData = new FormData();
    formData.append('productName', productName);
    formData.append('productLink', productLink);
    formData.append('CategoryID', CategoryID);
    formData.append('languageID', languageID);
    formData.append('short-description', shortDescription);
    formData.append('long-description', longDescription);
    formData.append('RefKey', RefKey);
  

    
    
    // Create a new XMLHttpRequest object
    let xhr = new XMLHttpRequest();
    
    
    // Configure the request
    xhr.open('POST', '/edit_article_headers');
    

    xhr.setRequestHeader('X-CSRFToken', csrfToken);

    // Define what happens on successful data submission
    xhr.onload = function () {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);

            var mistakesDiv = document.getElementById('mistakes_modal');
            mistakesDiv.innerHTML = ''; // Clear previous messages

            if (response.status === '2') {
                // Handle empty product name
                mistakesDiv.innerHTML = response.answer;
                mistakesDiv.style.color = 'red';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '3') {
                // Handle existing product name
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '4') {
                // Handle empty product link
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '5') {
                // Handle existing product link
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            }  else if (response.status === '6') {
                // Handle product category error
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';
                
                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });
                
                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');
                
            }  else if (response.status === '0') {
                // Handle Unknown Error
                mistakesDiv.textContent = response.answer;
                mistakesDiv.style.color = 'red';

                // Scroll the window to the mistakesDiv with smooth behavior
                mistakesDiv.scrollIntoView({ behavior: 'smooth' });

                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

            } else if (response.status === '1') {
                // Handle success
                // alert(response.answer);
                let currentUrl = window.location.href;
                location.href = currentUrl;
            }
        } else {
            // Handle error response
            saveButton.classList.remove('hidden');
            saving.classList.add('hidden');

            console.error('Error adding category:', xhr.responseText);
        }
    };

    // Send the request with the FormData object
    xhr.send(formData);

                });


                document.getElementById('cancelHeaderEdit').addEventListener("click", function () {
                    closeHeaderEditorModal(headerEditorModal);
                });
            };

            document.getElementById('headerButton').onclick = function () {
                openHeaderEditorModal(prData);
                document.getElementById('editorStatus').value = 0;
            };


            function closeHeaderEditorModal(modal) {
                modal.remove();
                // Hide the overlay
                document.getElementById('overlay').classList.remove('show');
            };

    </script>

</span>
    <!-- End of Slide Show and image uploader -->


<!-- Reach Text Editor -->
    {% set editorStatus = 0 %}
    {% set prStyle = "display: none" %}
    {% set editorStyle = "display: block" %}
    {% if prData.Text is none %}
        {% set prStyle = "display: block" %}
        {% set editorStyle = "display: none" %}
        {% set editorStatus = 1 %}
    {% endif %}
    
    

<div style="width: 80% !important;">
    <span id="editorContent" class="ql-editor" style="{{ editorStyle }}"> 
        {% if prData.Text is not none %}
            <!-- {{ prData.Text | safe }} -->
        {% endif %}
    </span>
</div>

    <span class="blocks" id="myReachTextEditor" style="{{ prStyle }}">
<!-- 
    <div id="toolbar">
    </div>
     -->

    <div id="toolbar" class="customToolbar">
        <!-- Formatting buttons -->
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      
        <!-- Blockquote, code-block -->
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      
        <!-- Link, image, video, formula -->
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      
        <!-- Headers -->
        <!-- <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button> -->
      
        <!-- Lists -->
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list" value="check"></button>
      
        <!-- Script -->
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      
        <!-- Indent -->
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      
        <!-- Direction -->
        <button class="ql-direction" value="rtl"></button>

        <!-- Size -->
        <select class="ql-size">
          <option value="small"></option>
          <!-- Note that the '' option means default size -->
          <option selected></option> 
          <option value="large"></option>
          <option value="huge"></option>


        </select>
      
        <!-- Header levels -->
        <select class="ql-header">
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
          <!-- Note that the 'false' option means paragraph -->
          <option selected></option> 
        </select>
      
        <!-- Font types -->
        <select class="ql-font">
          <!-- Options will be dynamically generated based on what's available in your theme/quill setup -->
        </select>
      
        <!-- Text alignment -->
        <select class="ql-align">
          <!-- Options will be dynamically generated based on what's available in your theme/quill setup -->
        </select>
      
        <!-- Clean formatting button -->
        <button class="ql-clean"></button>

        <!-- Text color, background color -->
        <span class="ql-formats">
            <button id="text-color-picker-btn" class="ql-color-picker"></button>
            <button id="background-color-picker-btn" class="ql-color-picker"></button>
        </span>
      </div>
      
      



        <!-- Quill.js editor container -->
        <div id="editor-container"></div>
        <!-- Button to submit content -->
        <div class="pcButton" id="submit-btn">{{ _('Submit') }}</div>
        <div id="saving-btn" class="hidden pcButton">{{ _('Saving...') }}</div>
    </span>
    <input type="hidden" id="editorStatus" value="{{ editorStatus }}"
    
<!-- End of Reach Text Editor -->

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    

<div id="submitted-content"></div>

<!-- Include Quill.js script -->
<!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> -->
<script src="{{ url_for('static', filename='JS/1-3-6-quill.js') }}"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {


   
    // Initialize Quill.js editor
    // const toolbarOptions = [
    //     ['bold', 'italic', 'underline', 'strike'],
    //     ['blockquote', 'code-block'],
    //     ['link', 'image', 'video', 'formula'],
    //     [{ 'header': 1 }, { 'header': 2 }],
    //     [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'list': 'check' }],
    //     [{ 'script': 'sub' }, { 'script': 'super' }],
    //     [{ 'indent': '-1' }, { 'indent': '+1' }],
    //     [{ 'direction': 'rtl' }],
    //     [{ 'size': ['small', false, 'large', 'huge'] }],
    //     [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    //     [{ 'color': [] }, { 'background': [] }],
    //     [{ 'font': [] }],
    //     [{ 'align': [] }],
    //     ['clean']
    // ];

    function imageHandler() {
            const input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.click();

            input.onchange = function () {
                const file = input.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const base64String = e.target.result;
                        const base64WithFileName = 'data:' + file.type + ';filename=' + file.name + ';base64,' + base64String.split(',')[1];
                        insertBase64Image(base64WithFileName);
                    };
                    reader.readAsDataURL(file);
                }
            };
        }

        function insertBase64Image(base64String) {
            const range = quill.getSelection();
            quill.insertEmbed(range.index, 'image', base64String);
        }

    // let Size = Quill.import('attributors/style/size');
    // Quill.register(Size, true);
    const quill = new Quill('#editor-container', {
        modules: { 
            // toolbar: toolbarOptions 
            toolbar: {
                    container: '#toolbar',
                    handlers: {
                        'image': imageHandler
                    }
                }
            
            // scrollingContainer: '#editor-container'
        },
        theme: 'snow'
    });



    // Initialize Quill editor
// const quill = new Quill('#editor', {
//     theme: 'snow',
//     modules: {
//         toolbar: toolbarOptions
//     }
// });

// Initialize Pickr for text color
const textColorPickr = Pickr.create({
    el: '#text-color-picker-btn',
    theme: 'classic',
    default: '#3E3E4547',
    components: {
        preview: true,
        opacity: true,
        hue: true,
        interaction: {
            hex: true,
            // rgba: true,
            // hsla: true,
            // hsva: true,
            // cmyk: true,
            input: true,
            clear: true,
            save: true
        }
    }
});

// Initialize Pickr for background color
const backgroundColorPickr = Pickr.create({
    el: '#background-color-picker-btn',
    theme: 'classic',
    default: '#935CA5A8',
    components: {
        preview: true,
        opacity: true,
        hue: true,
        interaction: {
            hex: true,
            // rgba: true,
            // hsla: true,
            // hsva: true,
            // cmyk: true,
            input: true,
            clear: true,
            save: true
        }
    }
});

// Update Quill editor when a text color is picked
textColorPickr.on('save', (color) => {
    const hexColor = color.toHEXA().toString();
    const range = quill.getSelection();
    if (range) {
        quill.format('color', hexColor);
    }
});

// Update Quill editor when a background color is picked
backgroundColorPickr.on('save', (color) => {
    const hexColor = color.toHEXA().toString();
    const range = quill.getSelection();
    if (range) {
        quill.format('background', hexColor);
    }
});


    document.getElementById('submit-btn').addEventListener('click', function (event) {
        let content = quill.root.innerHTML;
        let languageID = document.getElementById('language-id').value;
        let RefKey = document.getElementById('RefKey').value;
        event.preventDefault();

        const saveButton = document.getElementById('submit-btn');
        const saving = document.getElementById('saving-btn');

        saveButton.classList.add('hidden');
        saving.classList.remove('hidden');

        let formData = new FormData();
        formData.append('content', content);
        formData.append('language-id', languageID);
        formData.append('RefKey', RefKey);

        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure the request
        xhr.open('POST', '/submit_reach_text');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        // Define what happens on successful data submission
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                var mistakesDiv = document.getElementById('mistakes');
                mistakesDiv.innerHTML = ''; // Clear previous messages

            if (response.status === '1') {
                    // Handle success
                    let RefKey = document.getElementById('RefKey').value;
                    let prURL = window.location.origin  + '/article/' + RefKey;
                    location.href = prURL;
                }
            } else {
                // Handle error response
                saveButton.classList.remove('hidden');
                saving.classList.add('hidden');

                console.error('Error adding category:', xhr.responseText);
            }
        };

        // Send the request with the FormData object
        xhr.send(formData);
        });


    // Function to convert HTML to Delta
    function convertHtmlToDelta(html) {
        const container = document.createElement('div');
        container.innerHTML = html;
        return quill.clipboard.convert(container);
    }

    document.querySelectorAll('.chooseBlock').forEach(item => {
        item.addEventListener('click', function (event) {
            // Hide all elements with the class 'blocks'
            document.querySelectorAll('.blocks').forEach(block => {
                block.style.display = 'none'; 
            });
            
            // Get the id of the clicked element
            const clickedId = event.currentTarget.id;

            // Conditionally show the correct element based on the clicked id
            if (clickedId === 'slideshowButton') {
                document.getElementById("editorStatus").value = 0; // This is for reach text editor hide-show manipulations

                document.getElementById('mySlideShow').style.display = 'block';
            } else if (clickedId === 'thumbnailButton') {
                urlTo = window.location.origin + '/thumbnail/' + {{ prData.RefKey }}
                window.location = urlTo
                // alert(urlTo)
            } else if (clickedId === 'textEditorButton') {
                let ReachTextEditorSpan = document.getElementById("myReachTextEditor");
                let editorContent = document.getElementById("editorContent");
                let editorStatus = document.getElementById("editorStatus").value;
                if (editorStatus == 1) {
                    // ReachTextEditorSpan = document.getElementById("myReachTextEditor");
                    ReachTextEditorSpan.style.display = 'none';
                    editorContent.style.display = 'block';
                    document.getElementById("editorStatus").value = 0;
                    
                    // Get the length of the inserted content
                    let insertedContentLength = quill.getLength();
                    if (insertedContentLength > 0) {
                        // Remove the inserted content
                        quill.deleteText(0, insertedContentLength);
                    }     


                } else {
                    let htmlToInsert = prData.Text
                    
                    // alert(htmlToInsert)
                    if (htmlToInsert !== null) {
                        
                        quill.clipboard.dangerouslyPasteHTML(0, htmlToInsert);
                        // quill.setText(delta);
                    
                    }
                    
                    editorContent.style.display = 'none';
                    ReachTextEditorSpan.style.display = 'block';
                    document.getElementById("editorStatus").value = 1;
                }

            }
        });
    });
});

    document.getElementById('mySwitch').addEventListener('click', function() {
        const slider = this.querySelector('.sliderA');
        let article_status = '';
        slider.classList.toggle('checked');  
        if (slider.classList.contains('checked')) {
            // Action to be performed when switch is on
            article_status = '2'
        } else {
            // Action to be performed when switch is off
            article_status = '1'
        }

        let languageID = document.getElementById('language-id').value;
        let RefKey = document.getElementById('RefKey').value;

        let formData = new FormData();
        formData.append('languageID', languageID);
        formData.append('RefKey', RefKey);
        formData.append('articleStatus', article_status);

        // Create a new XMLHttpRequest object
        var xhr = new XMLHttpRequest();

        // Configure the request
        xhr.open('POST', '/publish');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        // Define what happens on successful data submission
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);

                if (response.status === '1') {
                    // Handle success
                    alert(response.answer);
                    window.location.reload(); 
                }
            } else {
                // Handle error response
                console.error('Error adding category:', xhr.responseText);
            }
        };

        // Send the request with the FormData object
        xhr.send(formData);
    });




    // let htmlToInsert = prData.Text
    let savedHtmlContent = prData.Text 
    document.getElementById('editorContent').innerHTML = savedHtmlContent;



   
</script>

{% endblock %}