{% extends 'base.html' %}
{% block title %}
  {{ _('Products') }}
{% endblock %}


{% block head %}
    <style>
          table {
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
          }

          th {
            cursor: pointer;
          }

          th, td {
            text-align: left;
            padding: 16px;
          }

          tr:nth-child(even) {
            background-color: #f2f2f2
          }

          .draggerContainer {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%; /* Ensure full width to contain all child elements */
          }

          .child {
              display: grid;
              grid-template-columns: 150px 1fr 1fr 1fr 1fr; 
              gap: 10px; 
              width: 100%; 
              align-items: center; 
              padding: 10px;
              background-color: #f0f0f0;
              border: 1px solid #ccc;
              cursor: grab;
          }

          .child:active {
              cursor: grabbing; 
          }

          .child img {
              width: 150px; 
              height: auto; 
          }

          .child p {
              display: flex;
              align-items: center; 
              justify-content: center; 
              text-align: center; 
              padding: 10px; 
          }

          .dragging {
              opacity: 0.5;
          }
    </style>
{% endblock %}

{% block content %}

{{ sideBar | safe }}

<div class="container" >
  
{% if result.length > 0 %}


<div class="table-container toRight" id="tableDaddy">
  <input type="text" id="myInput" onkeyup="filter_products_by_title(this)" placeholder="{{ _('Search for a product by title') }}" title="{{ _('Type in a product title') }}" style="margin-left: 10px; width: 200px; padding: 12px;">
  <table id="myTable">
    <thead>
      <tr>
        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Thumbnail') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Title') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Published Date') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 2, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 2, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Modified Date') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 3, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 3, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Product Category') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 4, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 4, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Status') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 5, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 5, 'down')"></i>
            </div>
          </div>
        </th>
        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Actions') }} 
          </div>
        </th>
      </tr>
  </thead>
  <tbody>
{% for row in result.data %}
  {% set status = _('Published') %}
  {% if row['Product_Status'] == 1 %}
    {% set status = _('Unpublished') %}
  {% endif %}
  {% if loop.index > 1 %}
    {% set trBorderTop = 'trBorderTop keyup-filter' %}
  {% else %}
    {% set trBorderTop = 'keyup-filter' %}
  {% endif %}
  
  {% set publishedDate = row['DatePublished'] %}
  {% if row['DatePublished'] == none %}
    {% set publishedDate = '' %}
  {% endif %}

  {% set editUrl = 'product/' + row['P_Ref_Key']|string %}
    <tr class="{{ trBorderTop }}" data-value="{{row['ID']}}-&$%-{{row['Title']}}" >
      <td><img src="{{ url_for('static', filename='images/pr_thumbnails/' + row['Thumbnail']) }}" style="width: 100px;"/></td>
      <td>{{ row['Title'] }}</td>
      <td>{{ publishedDate }}</td>
      <td>{{ row['DateModified'] }}</td>
      <td>{{ row['Product_Category_Name'] }}</td>
      <td>{{ status }}</td>
      <td>
        {% if row['Product_Status'] == 2 %}
        <a href="{{ url_for('home', _external=True) + row['Url'] }}" target="_blank" title="{{ _('View') }}"><i class="fas fa-eye" style="font-size: 20px; color: #6be6b2; margin-right: 20px;"></i></a>
        {% endif %}
        <a href="{{ url_for('home', _external=True) + editUrl }}" target="_blank" title="{{ _('Edit') }}"><i class="fas fa-pencil" style=" color: #6be6b2;"></i></a>
      </td>
    </tr>
    <tr class="extra-row" id="extraRow_{{row['ID']}}">
      <td colspan="7" style="text-align: center; padding: 5px; ">
        <button class="view-types-btn" title="{{ _('View Types') }}" id="btn_{{row['ID']}}" onclick="getProductTypes({{row['ID']}})">
          <div class="chevron">&#9660;</div>
        </button>
      </td>
    </tr>
    
    
{% endfor %}
    </tbody>
  </table>


{% else %}
<h3>{{ _('No data to show!') }}</h3>
{% endif %}
</div>



<script>
let csrfToken = "{{ csrf_token() }}";
window.addEventListener('load', () => {
  document.querySelector('body').classList.add('loaded');
});

let trace;

function sortTable(arrowElement, n, direction) {
  
  if (trace === String(n) + direction) {
    return;
  }

  trace = String(n) + direction;
  
  document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  arrowElement.style.color = '#ff0000';

  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

let prIdChecker = undefined; 
let mode = 0;
let clickedState = false
function getProductTypes(prID) {
  console.log(`clickedState is ${clickedState}`);
  if (clickedState) {
    return;
  }
  clickedState = true;

  let answerTr = document.getElementById('answerID');
  if (mode === 1) {
    if (answerTr) {
      setTimeout(() => (answerTr.style.display = 'none'), 750);
      answerTr.remove();
    }
      
    mode = 0;
    if (prIdChecker === prID) {
      clickedState = false;
      return;
    }
   
  }

  prIdChecker = prID;
  mode = 1;
  if (answerTr) {
    setTimeout(() => (answerTr.style.display = 'none'), 750);
    answerTr.remove();
    clickedState = false;
  }
  let clickedBtn = document.getElementById('btn_' + prID);
  if (clickedBtn) {
    let chevron = clickedBtn.getElementsByClassName('chevron');
    chevron[0].style.display = 'none';
    let loader = myLoader();
    
    
    clickedBtn.appendChild(loader);

    let gearElement = document.getElementById('gear');
    if (!gearElement) {
      return;
    } 

    rotate(gearElement);

    let formData = new FormData();
    formData.append('prID', prID)
    
    // Create a new XMLHttpRequest object
    let xhr = new XMLHttpRequest();
    
    // Configure the request
    xhr.open('POST', '/get-product-types');                   
    xhr.setRequestHeader('X-CSRFToken', csrfToken);

    // Define what happens on successful data submission
    xhr.onload = function () {
        if (xhr.status === 200) {
            let response = JSON.parse(xhr.responseText);
            gearElement.remove();
            chevron[0].style.display = 'block';
            parentTr = clickedBtn.closest('tr');
            
            if (response.status === '0') {
                // Handle Errors

                parentTr.insertAdjacentHTML('afterend', `
                      <tr id="answerID" >
                          <td style="text-align: center;" colspan="7">${response.answer}</td>
                      </tr>
                  `);   
                
                clickedState = false;
                
            } 
            
            if (response.status === '1') {
              
              const mainUrl = `${window.location.protocol}//${window.location.hostname}${window.location.port ? `:${window.location.port}` : ''}`;
                if (response.length === 0) {
                  // Construct the main URL including the port, if present
                  const urlTo = mainUrl + '/add-price/' + prID;

                  let addType = 'add-price/' + prID;
                  parentTr.insertAdjacentHTML('afterend', `
                      <tr id="answerID" >
                          <td style="text-align: center;" colspan="7">
                            <div class="no-pt-detected">{{ _('No Product Type Detected') }}</div>
                            <div><a class="pcButtonS" href="${urlTo}" style="text-decoration: none">{{ _('Add Product Type') }}</a></div>
                          </td>
                      </tr>
                  `);   
                
                  let answerTr = document.getElementById('answerID');
                  answerTr.style.display = 'revert'; // Make it visible
                  setTimeout(() => (answerTr.classList.add('active')), 750); 
                  clickedState = false;  
                } else {


                  let dataArray = Object.entries(response.data);
                  let rows = '';

                  dataArray.forEach(function(list) {
                    let imgUrl = mainUrl + '/static/images/sub_product_slider/' + list[1]['imgName']
                    let editUrl = mainUrl + '/edit-price/' + list[1]['ID']
                    let checked = '';

                    if (list[1]['Status'] === 1) {
                      checked = 'checked'
                    }

                    let title = "{{ _('Disable') }}"; 
                    if (checked == '') {
                      title = "{{ _('Enable') }}"; 
                    }

                    let perRow = `<div class="child" draggable="true">
                                    <input type="hidden" name="TypeID" value="${list[1]['ID']}">
                                    <img src="${imgUrl}" alt="${list[1]['AltText']}" class="" style="width: 150px;">
                                    <div><p style="justify-content: left;">${list[1]['Title']}</p></div>
                                    <div><p>${list[1]['Price']} {{mainCurrency}}</p></div>
                                    <div title="${title}" onclick="changeStatus(${list[1]['ID']})">
                                        <label class="switch" id="switch_${list[1]['ID']}">
                                            <span class="sliderA round ${checked}"></span>
                                        </label>
                                    </div>
                                    
                                    <a href="${editUrl}" target="_BLANK"><p>{{ _('Edit') }}</p></a>
                                </div>`;

                    rows = rows + perRow;
                    
                  });

                  let content = `<tr id="answerID" >
                                  <td style="text-align: center;" colspan="7">
                                    <div class="draggerContainer" id="draggerContainer">        
                                      ${rows}    
                                    </div>

                                    <button class="pcButtonS" style="display: none" id="saveChanges" onclick="saveChanges(${prID})"><span id='schText'>{{ _('Save Changes') }}</span></button>
                                  </td>
                                </tr>
                                `

parentTr.insertAdjacentHTML('afterend', content); 


              const draggerContainer = document.getElementById('draggerContainer');

                      draggerContainer.addEventListener('dragstart', (e) => {
                          if (e.target.classList.contains('child')) {
                              e.target.classList.add('dragging');
                              e.dataTransfer.setData('text/plain', e.target.outerHTML); // Store the dragged element.
                            document.getElementById('saveChanges').style.display = 'inline';
                          }
                      });

                      draggerContainer.addEventListener('dragend', (e) => {
                          if (e.target.classList.contains('child')) {
                              e.target.classList.remove('dragging');
                          }
                      });

                      draggerContainer.addEventListener('dragover', (e) => {
                          e.preventDefault();
                          const draggingElement = draggerContainer.querySelector('.dragging');
                          const afterElement = getDragAfterElement(draggerContainer, e.clientY);

                          if (afterElement == null) {
                              draggerContainer.appendChild(draggingElement);
                          } else {
                              draggerContainer.insertBefore(draggingElement, afterElement);
                          }
                      });

                      function getDragAfterElement(draggerContainer, y) {
                          const draggableElements = [...draggerContainer.querySelectorAll('.child:not(.dragging)')];

                          return draggableElements.reduce(
                              (closest, child) => {
                                  const box = child.getBoundingClientRect();
                                  const offset = y - box.top - box.height / 2;
                                  if (offset < 0 && offset > closest.offset) {
                                      return { offset: offset, element: child };
                                  } else {
                                      return closest;
                                  }
                              },
                              { offset: Number.NEGATIVE_INFINITY }
                          ).element;
                      }
                    
                  }

                }

                let answerTr = document.getElementById('answerID');
                answerTr.style.display = 'revert'; // Make it visible
                setTimeout(() => (answerTr.classList.add('active')), 750); 
                clickedState = false;
        } else {
            // Handle error response
            uploadButton.classList.remove('hidden');
            saving.classList.add('hidden');

            console.error('Error adding category:', xhr.responseText);
            clickedState = false;
        }
    };

    // Send the request with the FormData object
    xhr.send(formData);


  }
  
}

let saveChangesFlag = 0;
function saveChanges(prID) {
  if (saveChangesFlag === 1) {
    return;
  }
  
  saveChangesFlag = 1;

  let clickedBtn = document.getElementById('saveChanges');
  let btnText = clickedBtn.querySelector('span');
  btnText.style.display = 'none';
  let loader = myLoader('white');


  clickedBtn.appendChild(loader);

  let gearElement = document.getElementById('gear');
  if (!gearElement) {
    return;
  } 

  rotate(gearElement);


  let i = 0;
  let formData = new FormData();
  let dataArray = document.querySelectorAll('.draggerContainer input');
    dataArray.forEach(function(input) {
    let typeID = input.value;
    formData.append(i, typeID)
    i++;
  });

  formData.append('prID', prID);

  // Create a new XMLHttpRequest object
  let xhr = new XMLHttpRequest();
  
  // Configure the request
  xhr.open('POST', '/change-type-order');                   
  xhr.setRequestHeader('X-CSRFToken', csrfToken);

  // Define what happens on successful data submission
  xhr.onload = function () {
      if (xhr.status === 200) {
          let response = JSON.parse(xhr.responseText);

          alert(response.answer);
              
      } else {
          // Handle error response
          console.error('Error adding category:', xhr.responseText);
      }
      gearElement.remove();
      btnText.style.display = 'inline';

  };

  // Send the request with the FormData object
  xhr.send(formData);

  saveChangesFlag = 0;
}


function changeStatus(ptID) {
    const slideParent = document.getElementById('switch_' + ptID)
    const slider = slideParent.querySelector('.sliderA');
    let status = '';
    slider.classList.toggle('checked');  
    if (slider.classList.contains('checked')) {
        // Action to be performed when switch is on
        status = '1'
    } else {
        // Action to be performed when switch is off
        status = '0'
    }


    let formData = new FormData();
    formData.append('ptID', ptID);
    formData.append('status', status);

    // Create a new XMLHttpRequest object
    var xhr = new XMLHttpRequest();

    // Configure the request
    xhr.open('POST', '/chaneg-pt-status');
    xhr.setRequestHeader('X-CSRFToken', csrfToken);

    // Define what happens on successful data submission
    xhr.onload = function () {
        if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);

            if (response.status === '1') {
                // Handle success
                alert(response.answer);
            }
            
            if (response.status === '0') {
                // Handle success
                slider.classList.toggle('checked'); 
                alert(response.answer);
            }
        } else {
            // Handle error response
            console.error('Error adding category:', xhr.responseText);
        }
    };

    // Send the request with the FormData object
    xhr.send(formData);
  }



function rotate(gearElement) {
  let angle = 0;
    setInterval(() => {
      angle = (angle + 5) % 360; 
      gearElement.style.transform = `rotate(${angle}deg)`;
    }, 50); 

}

function myLoader(color) {
  if (color === undefined) {
    color = 'crimson'
  }
  let loader = document.createElement('div'); // Create a div element for the loader
    loader.id = 'gear';
    loader.style.color = color;
    loader.style.fontSize = '20px';
    loader.style.display = 'inline-block';
    loader.textContent = '⚙';
    return loader;
}

function filter_products_by_title(input) {
  let filter = input.value.toUpperCase();
  let trows = document.querySelectorAll(".keyup-filter");
  let extraRows = document.querySelectorAll(".extra-row");
  if (document.getElementById('answerID')) {
    document.getElementById('answerID').remove();
  }

  trows.forEach((tr) => {
    let trValue = tr.getAttribute("data-value");
    let trValueArray = trValue.split('-&$%-');  
    let trID = trValueArray[0];
    let title = trValueArray[1].toUpperCase();
    if (title.includes(filter)) {
      tr.style.display = ""; // Show the row
      document.getElementById('extraRow_' + trID).style.display = 'revert'; // Show the extra row
    } else {
      tr.style.display = "none"; // Hide the row
      document.getElementById('extraRow_' + trID).style.display = 'none'; // Hide the extra row
    }

    
  });






}

</script>

{% endblock %}
