{% extends 'base.html' %}
{% block title %}
{{ _('Promo Codes') }}
{% endblock %}


{% block head %}
    <style>
      table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
    </style>
{% endblock %}

{% block content %}

{{ sideBar | safe }}
<div class="container" >
  
{% if result.length > 0 %}
<div class="table-container toRight" id="tableDaddy">
  <table id="myTable">
    <thead>
      <tr>
        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Promo Code') }} 
  
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>
        
        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Affiliate') }} 
  
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Expiration Date') }} 
  
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
            </div>
          </div>
        </th>

        <th>
          <div style="display: flex; align-items: center;">
            {{ _('Status') }} 
            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
            </div>
          </div>
        </th>
        <th></th>
      </tr>
      </thead>
{% for row in result.data %}
  {% set status = _('Active') %}
  {% if row['Status'] == 0 %}
    {% set status = _('Inactive') %}
  {% endif %}
  {% set expDateStyle = '' %}
  {% if row['expDate'] < currentDate %}
  {% set expDateStyle = 'color: red;' %}
  {% endif %}
  
  {% set editUrl = 'edit-promo-code/' + row['ID'] | string %}
    <tr>
      <td>{{ row['Promo'] }}</td>
      {% if row['Firstname'] == None %}
        <td></td>
      {% else %}
        <td>{{ row['Firstname'] + ' ' + row['Lastname'] + ' ' + row['Email'] }}</td>
      {% endif %}
      <td style="{{ expDateStyle }}">{{ row['expDate'] }}</td>
      <td>{{ status }}</td>
      <td>
        {% set promoFilters = 'promoCode=' + row['Promo'] | string + '&affiliate=' + row['affiliateID'] | string %}
        <a href="{{ url_for('stuff_promo_code_details', filters=promoFilters ) }}" target="_blank" title="{{ _('Promo Code Details') }}"><i class="fa-solid fa-eye" style="font-size: 20px; color: #0bc275;"></i></a>
        <a href="{{ url_for('home', _external=True) + editUrl }}" target="_blank" title="{{ _('Edit') }}"><i class="fa-solid fa-pen-to-square" style="font-size: 20px; color: #0bc275;"></i></a>
      </td>
    </tr>
    
    
{% endfor %}

  </table>
</div>

{% else %}
<h3>{{ _('No data to show!') }}</h3>
{% endif %}
</div>



<script>

window.addEventListener('load', () => {
  document.querySelector('body').classList.add('loaded');
});

let trace;

function sortTable(arrowElement, n, direction) {
  
  // console.log(n);
  if (trace === String(n) + direction) {
    return;
  }

  trace = String(n) + direction;
  
  document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  arrowElement.style.color = '#ff0000';

  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
{% endblock %}