<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <script>

      window.addEventListener('load', () => {
        document.querySelector('body').classList.add('loaded');
      });
          
      // Function to get the CSRF token from the meta tag
      function getCsrfToken() {
          return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      }


      
    </script>
    
    {% block head %}
    
    {% endblock %}
  </head>
  <body>    
      <input type="hidden" id="full-basket" value="{{ url_for('static', filename='images/icons/full-basket.png') }}">
      <input type="hidden" id="empty-basket" value="{{ url_for('static', filename='images/icons/empty-basket.png') }}">

        <!-- Header Section -->
      <header class="header_public">
        <div class="mobile-menu">
          <img src="{{ url_for('static', filename='images/icons/mobile-menu.png') }}" style="width: 50px;">
        </div>
        <div class="logo-container">
          <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt='{{ _("Mammys Bread Logo") }}' class="logo_public" />
          </a>
        </div>
        <a href="{{ url_for('cart') }}" id="basket-url"> 
          <div class="icon-wrapper">
            <img src="{{ url_for('static', filename='images/icons/empty-basket.png') }}" class="basket">
              <!-- <i class="fa-solid fa-cart-arrow-down"></i> -->
              <span class="notification">0</span>
          </div>
        </a>
      </header>





      <script type="text/javascript" src="{{ url_for('static', filename='JS/cookie.umd.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='JS/header.js') }}"></script>
      <!-- End of Header -->
      
    {% block content %}

    {% endblock %}

      <footer style="background-color: #fdf6ec; padding: 40px 60px; text-align: left; width: 100%; margin-top: 40px;">
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 1720px; margin: 0 auto;">
      <!-- <div style="flex: 1; min-width: 200px; padding: 20px;">
      <h3 style="color: #007bff; margin-bottom: 20px;">Services</h3>
      <ul style="list-style-type: none; padding: 0;">
      <li><a href="#service1" style="color: #007bff; text-decoration: none;">Service 1</a></li>
      <li><a href="#service2" style="color: #007bff; text-decoration: none;">Service 2</a></li>
      <li><a href="#service3" style="color: #007bff; text-decoration: none;">Service 3</a></li>
      </ul>
      </div> -->

      <div style="flex: 1; min-width: 200px; padding: 20px;">
      <h3 style="color: #007bff; margin-bottom: 20px;">Contact</h3>
      <p style="color: #6c757d;">123 Street Name<br>City, State, 12345<br>Email: info@example.com</p>
      <div style="margin-top: 20px;">
      <a href="https://facebook.com" class="fa fa-facebook" target="_blank" ></a>
      <a href="https://instagram.com" class="fa fa-instagram" target="_blank"></a>
      <a href="https://youtube.com" class="fa fa-youtube" target="_blank"></a>

      </div>
      </div>

      <div style="flex: 1; min-width: 200px; padding: 20px;">
      <h3 style="color: #007bff; margin-bottom: 20px;">Subscribe to us!</h3>
      <p style="color: #6c757d;">Be the first to know about discounts and promotions.</p>
      <div>
      <input type="text" name="email" id="email" style="width: 90%"/>
      <div class="pcButtonS" id="subscribe" style="margin-top: unset;">Submit</div>
      </div>
      </div>
      </div>
      <p style="color: #6c757d; margin-top: 40px;">&copy; 2024 Your Company. All rights reserved.</p>
      </footer>
    
  
    <script>
      
      let xhr = new XMLHttpRequest();
      let csrfToken = "{{ csrf_token() }}";

      csrfInput = document.createElement('input');
      csrfInput.type = 'hidden'
      csrfInput.id = 'csrfToket'
      csrfInput.value = csrfToken

      document.body.appendChild(csrfInput)

      // Define an array of language objects
      let languages = [
          { value: "en", text: "En", selected: true }
      ];

      // Create the select element and set its class
      const select = document.createElement("select");
      select.className = "change-language";

      // Add an event listener for the change event
      select.addEventListener("change", function() {
        window.location.href = '/setlang?lang=' + this.value;
      });

      // Configure the request
      xhr.open('POST', '/get_langs');  
      xhr.setRequestHeader('X-CSRFToken', csrfToken);                 

      // Define what happens on successful data submission
      xhr.onload = function () {
          if (xhr.status === 200) {
            languages = JSON.parse(xhr.responseText);

            // Loop through the languages array to create and append options
            languages.forEach(lang => {
              const option = document.createElement("option");
              option.value = lang.value;
              let text = lang.value.charAt(0).toUpperCase() + lang.value.slice(1);
              option.textContent = text;
              
              if (lang.selected) {
                option.selected = true;
                option.style.textAlign = 'center'
              } else {
                option.style.textAlign = 'left'
              }
                
              select.appendChild(option);
            });

      
          } else {

            // Loop through the languages array to create and append options
            languages.forEach(lang => {
              const option = document.createElement("option");
              option.value = lang.value;
              let text = lang.value.charAt(0).toUpperCase() + lang.value.slice(1);
              option.textContent = text;
              
              if (lang.selected) {
                option.selected = true;
                option.style.textAlign = 'center'
              } else {
                option.style.textAlign = 'left'
              }

              select.appendChild(option);
            });

          }
            
          document.querySelector('.header_public').prepend(select);
      };

      // Send the request with the FormData object
      xhr.send();


      

    </script>  
    </body>

  

</html>