<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ICO format -->
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <script>

      window.addEventListener('load', () => {
        document.querySelector('body').classList.add('loaded');
      });
          
      // Function to get the CSRF token from the meta tag
      function getCsrfToken() {
          return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      }


      
    </script>
    
    {% block head %}
    
    {% endblock %}
  </head>
  <body>    
      <input type="hidden" id="full-basket" value="{{ url_for('static', filename='images/icons/full-basket.png') }}">
      <input type="hidden" id="empty-basket" value="{{ url_for('static', filename='images/icons/empty-basket.png') }}">

        <!-- Header Section -->
      <header class="header_public">
        <div class="mobile-menu">
          <img src="{{ url_for('static', filename='images/icons/mobile-menu.png') }}" style="width: 50px;">
        </div>
        <div class="logo-container">
          <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.jpg')}}" alt='{{ _("Mammys Bread Logo") }}' class="logo_public" />
          </a>
        </div>
        <a href="{{ url_for('cart') }}" id="basket-url"> 
          <div class="icon-wrapper">
            <img src="{{ url_for('static', filename='images/icons/empty-basket.png') }}" class="basket">
              <!-- <i class="fa-solid fa-cart-arrow-down"></i> -->
              <span class="notification">0</span>
          </div>
        </a>
      </header>





      <script type="text/javascript" src="{{ url_for('static', filename='JS/cookie.umd.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='JS/header.js') }}"></script>
      <!-- End of Header -->
      
    {% block content %}

    {% endblock %}

      <footer style="background-color: #fdf6ec; padding: 40px 60px; text-align: left; width: 100%; margin-top: 40px;">
      <div style="display: flex; justify-content: space-between; flex-wrap: wrap; max-width: 1720px; margin: 0 auto;">

      <div style="flex: 1; min-width: 200px; padding: 20px;">
      <h3 style="color: #333333bd; margin-bottom: 20px; text-align: left;" id="contacts">{{ _('Contact') }}</h3>
      <span style="color: #6c757d;" class="social-media"><!-- {{ _('123 Street Name') }}<br>{{ _('City, State, 12345') }}<br>-->
        {{ _('Email') }}: info@mammysbreat.am <br>
        {{ _('Phone') }}: <a href="tel:37495151580" style="text-decoration: none; color: #6c757d;">+374(95) 15-15-80</a>
      </span>
      <div style="margin-top: 10px;" class="social-media">
            <a href="https://facebook.com" class="fa fa-facebook" target="_blank"></a>
            <a href="https://instagram.com" class="fa fa-instagram" target="_blank"></a>
            <a href="https://youtube.com" class="fa fa-youtube" target="_blank"></a>
            <a href="https://wa.me" class="fa fa-whatsapp" target="_blank"></a>
            <a href="https://t.me" class="fa fa-telegram" target="_blank"></a>

      </div>
      </div>

      <div style="flex: 1; min-width: 200px; padding: 20px;">
      <h3 style="color: #333333bd; margin-bottom: 20px; text-align: left;">{{ _('Subscribe to us!') }}</h3>
      <span style="color: #6c757d;">{{ _('Be the first to know about discounts and promotions.') }}</span>
      <div>
      <input type="text" name="email" id="email" style="width: 90%; margin-bottom: 10px;"/>
      <div class="pcButtonS" id="subscribe" style="margin-top: unset; background-color: #FCC628;">{{ _('Submit') }}</div>
      </div>
      </div>
    </div>
  </footer>
      <p style="color: #6c757d; margin-top: 15px;
      text-align: center;
      background-color: white;
      padding: 10px; width: 100%;">&copy; {{ current_year }} {{ _('Your Company. All rights reserved.') }} </p>
    
      <!-- Full-Screen Overlay Nav -->
      <div class="mobile-nav-overlay">
        <nav class="mobile-nav-content">
          <button class="mobile-menu-close" aria-label="Close Mobile Menu">
            ✕
          </button>
          <ul class="mobile-nav-links">
            <li><a href="{{ url_for('home') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('favorites') }}">{{ _('Favorites') }}</a></li>
            <li><a href="{{ url_for('products_client') }}">{{ _('Products') }}</a></li>
            <li><a href="{{ url_for('about') }}">{{ _('Our History') }}</a></li>
            <li><a href="{{ url_for('contacts') }}">{{ _('Contacts') }}</a></li>
          </ul>

          </select>
        </nav>
      </div>

  
    <script>
      let xhr = new XMLHttpRequest();
      let csrfToken = "{{ csrf_token() }}";

      csrfInput = document.createElement('input');
      csrfInput.type = 'hidden'
      csrfInput.id = 'csrfToket'
      csrfInput.value = csrfToken

      document.body.appendChild(csrfInput)

      // Define an array of language objects
      let languages = [
          { value: "en", text: "En", selected: true }
      ];

      // Create the select element and set its class
      const select = document.createElement("select");
      select.className = "change-language";

      // Add an event listener for the change event
      select.addEventListener("change", function() {
        window.location.href = '/setlang?lang=' + this.value;
      });

      // Configure the request
      xhr.open('POST', '/get_langs');  
      xhr.setRequestHeader('X-CSRFToken', csrfToken);                 

      // Define what happens on successful data submission
      xhr.onload = function () {
          if (xhr.status === 200) {
            languages = JSON.parse(xhr.responseText);

            // Loop through the languages array to create and append options
            languages.forEach(lang => {
              const option = document.createElement("option");
              option.value = lang.value;
              let text = lang.value.charAt(0).toUpperCase() + lang.value.slice(1);
              option.textContent = text;
              
              if (lang.selected) {
                option.setAttribute("selected", "selected");
              } 
                
              select.appendChild(option);
            });

          } else {

            // Loop through the languages array to create and append options
            languages.forEach(lang => {
              const option = document.createElement("option");
              option.value = lang.value;
              let text = lang.value.charAt(0).toUpperCase() + lang.value.slice(1);
              option.textContent = text;
              
              if (lang.selected) {
                option.setAttribute("selected", "selected");
              }

              select.appendChild(option);
            });

          }
            
          document.querySelector('.header_public').prepend(select);

          let mobileNavSelect = select.cloneNode(true);

          mobileNavSelect.className = "change-language-menu";
          mobileNavSelect.addEventListener("change", function() {
            window.location.href = '/setlang?lang=' + this.value;
          });

          document.querySelector('.mobile-nav-content').append(mobileNavSelect);


      };

      // Send the request with the FormData object
      xhr.send();


        // Grab elements
        const mobileMenuButton = document.querySelector('.mobile-menu');
        const mobileNavOverlay = document.querySelector('.mobile-nav-overlay');
        const mobileMenuCloseButton = document.querySelector('.mobile-menu-close');

        // Open the overlay when the hamburger is clicked
        mobileMenuButton.addEventListener('click', () => {
          mobileNavOverlay.classList.add('open');
        });

        // Close the overlay when the close button is clicked
        mobileMenuCloseButton.addEventListener('click', () => {
          mobileNavOverlay.classList.remove('open');
        });

      </script>

    </body>

  

</html>