<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
    <a href="{{ url_for('home') + 'stuff' }}">{{ _('Dashboard') }}</a>
    {% for row in result %}
      <a href="{{ url_for('home') + row['ActionDir']}}">{{ _(row['ActionName']) }}</a>
    {% endfor %}

  {% if supportedLangsData | length > 1 %}     
  <a>  
    <select onchange="location = '/setlang?lang=' + this.value;" class="styled-select" style="width: 80%;">
      {% for lang in supportedLangsData %}
        <option value="{{ lang['Prefix'] }}" {{ 'selected' if get_locale() ==  lang['Prefix']  else '' }}>{{ lang['Language'] }}</option>
      {% endfor %}
    </select>
  </a>
  {% endif %}
    
    <a href="/logout" id="logoutButton" >{{ _('Logout') }}</a>
</div>

<span class="stuff-menu" onclick="openNav()">&#9776;</span>
<script>
    const openWith = "20%";
    const closeWith = "0";

    function openNav() {
      document.getElementById("mySidenav").classList.add('open');
      document.getElementById("myTable").style.marginLeft = openWith;
    }
    
    function closeNav() {
      document.getElementById("mySidenav").classList.remove('open');
      document.getElementById("myTable").style.marginLeft = closeWith;
    }
</script>
