{% if result.length > 0 %}
{% set display = '' %}
{% if result.length < 6 %} {% set display='display:none' %} {% endif %} <div class="product-container blocks"
  id="slides">
  <div class="image-gallery">
    <div class="slider">
      <button class="prevM" onclick="prevImage()">&#10094;</button>
      <img id="main-image" src="{{ url_for('static', filename='images/product_slider/'  + result.data[0]['Name'] ) }}"
        alt="{{ result.data[0]['AltText'] }}" class="fade">
      <button class="nextM" onclick="nextImage()">&#10095;</button>
    </div>

    <div class="thumbnail-container">
      <button class="thumb-prev" style="{{ display }}" onclick="scrollThumbnails('left', false)">&#10094;</button>
      <div class="thumbnails-wrapper">
        <div class="thumbnails">

          {% set ns = namespace(i=0) %}

          {% for row in result.data %}

          {% set fileDir = 'images/product_slider/' + row['Name'] %}

          {% if ns.i == 0 %}
          {% set selectedThumbnail = 'selectedThumbnail'%}
          {% else %}
          {% set selectedThumbnail = ''%}
          {% endif %}

          <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
            onclick='showImage("{{ns.i}}")' class='{{ selectedThumbnail }}'>
          {% set ns.i = ns.i + 1 %}
          {% endfor %}

          {% for row in resultSubPr.data %}

          {% set fileDir = 'images/sub_product_slider/' + row['Name'] %}

          {% if ns.i == 0 %}
          {% set selectedThumbnail = 'selectedThumbnail'%}
          {% else %}
          {% set selectedThumbnail = ''%}
          {% endif %}
          <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
            onclick='showImage("{{ns.i}}")' class='{{ selectedThumbnail }}'>
          {% set ns.i = ns.i + 1 %}
          {% endfor %}
        </div>
      </div>
      <button class="thumb-next" style="{{ display }}" onclick="scrollThumbnails('right', false)">&#10095;</button>
    </div>

  </div>
  <div class="product-details">
    <h1>{{ result.data[0].Title }}</h1>
    <div class="rating">
      ★★★★☆ (67 reviews)
    </div>

    {% if subProducts | length > 0 %}
    <h2 class="subproduct">{{ subProducts[0].Title }}</h2>
    {% endif %}

    {% if subProducts | length > 1 %}
    <div class="thumbnail-container" style="border: solid 1px black;">
      <button class="thumb-prev" style="display:none" onclick="scrollThumbnails('left', false)">❮</button>
      <div class="price-thumbnails-wrapper">
        <div class="price-thumbnails">

          {% for row in subProducts %}

          {% set fileDir = 'images/sub_product_slider/' + row['Name'] %}

          <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
            onclick='showImage({{row["i"]}})'>
          {% endfor %}
<!-- 
          <img src="/static/images/product_slider/acer_predator_1.png " alt="" onclick="showImage('0')"
            class="selectedThumbnail">

          <img src="/static/images/product_slider/american_girl.png " alt="" onclick="showImage('1')"
            class="">

          <img src="/static/images/product_slider/barbie_dreamhouse.png " alt="" onclick="showImage('2')"
            class="">

          <img src="/static/images/product_slider/bose_headphones.png " alt="" onclick="showImage('3')"
            class="">

          <img src="/static/images/product_slider/canon_90d.png " alt="" onclick="showImage('4')" class=""> -->

        </div>
      </div>
      <button class="thumb-next" style="display:none" onclick="scrollThumbnails('right', false)">❯</button>
    </div>
    {% endif %}
    <p><strong>Colorway:</strong> Summit White / Fire Red / Black / Cement Grey</p>
    <p><strong>Style Code:</strong> DN3707-100</p>
    <p><strong>Release Date:</strong> March 12, 2023</p>
    <p><strong>Department:</strong> Men</p>
    <p><strong>Brand:</strong> Jordan</p>
    <p><strong>Model:</strong> Air Jordan 3</p>
  </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='JS/slideshow.js') }}"></script>
  {% endif %}