{% if result.length > 0 or resultSubPr.length > 0 %}
{% set display = '' %}
{% if result.length + resultSubPr.length < 6 %} {% set display='display:none' %} {% endif %} 
{% if result.length > 0 %}
  {% set mainImgUrl = 'images/product_slider/' + result.data[0]['Name'] %}
  {% set mainImgAlt = result.data[0]['AltText'] %}
  {% set Title = result.data[0].Title %}
{% else %}
  {% set mainImgUrl = 'images/sub_product_slider/' + resultSubPr.data[0]['Name'] %}
  {% set mainImgAlt = resultSubPr.data[0]['AltText'] %}
  {% set Title = resultSubPr.data[0].Title %}
{% endif %}
<!-- Left Errow &#10094 -->
<!-- Right Errow &#10095 -->
<div class="product-container blocks" id="slides">

  <div class="thumbnail-container">
    <button class="thumb-prev" style="{{ display }}" onclick="scrollThumbnails('left', false)">&#11165;</button>
    <div class="thumbnails-wrapper">
      <div class="thumbnails">

        {% set ns = namespace(i=0) %}

        {% for row in result.data %}

        {% set fileDir = 'images/product_slider/' + row['Name'] %}

        {% if ns.i == 0 %}
        {% set selectedThumbnail = 'selectedThumbnail'%}
        {% else %}
        {% set selectedThumbnail = ''%}
        {% endif %}

        <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
          onclick='showImage("{{ns.i}}")' class='{{ selectedThumbnail }}'>
        {% set ns.i = ns.i + 1 %}
        {% endfor %}

        {% for row in resultSubPr.data %}

        {% set fileDir = 'images/sub_product_slider/' + row['Name'] %}

        {% if ns.i == 0 %}
        {% set selectedThumbnail = 'selectedThumbnail'%}
        {% else %}
        {% set selectedThumbnail = ''%}
        {% endif %}
        <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
          onclick='showImage("{{ns.i}}")' class='{{ selectedThumbnail }}'>
        {% set ns.i = ns.i + 1 %}
        {% endfor %}
      </div>
    </div>
    <button class="thumb-next" style="{{ display }}" onclick="scrollThumbnails('right', false)">&#11167;</button>
  </div>

  <div class="image-gallery">
    <div class="slider">
      <button class="prevM" onclick="prevImage()">&#10094;</button>
      <img id="main-image" src="{{ url_for('static', filename=mainImgUrl ) }}"
        alt="{{ mainImgAlt }}" class="fade">
      <button class="nextM" onclick="nextImage()">&#10095;</button>
    </div>
  </div>

    
  <div class="product-details">
    <div class="prTitle">{{ Title }}</div>
    
    <div class="rating">
      ★★★★☆ (67 reviews)
    </div>

    {% if subProducts | length > 1 %}
    <div class="thumbnail-container" style="border: solid 1px black;">
      <button class="thumb-prev" style="display:none" onclick="scrollThumbnails('left', false)">❮</button>
      <div class="price-thumbnails-wrapper">
        <div class="price-thumbnails">
          {% set ns = namespace(i=0) %}
          {% for row in subProducts %}

          {% set fileDir = 'images/sub_product_slider/' + row['Name'] %}

          <img src="{{ url_for('static', filename='') + fileDir}} " alt='{{ row["AltText"] }}'
            onclick='showImage({{row["i"]}}), changeType({{ ns.i }})'>
          {% set ns.i = ns.i + 1 %}
          {% endfor %}
        </div>
      </div>
      <button class="thumb-next" style="display:none" onclick="scrollThumbnails('right', false)">❯</button>
    </div>
    {% endif %}

    {% if resultSpss.length > 0 %}
      <span style="display: block;" class="productType" id="type_0">
        <h2 class="subproduct">{{ resultSpss.data[0].ptTitle }}</h2>
        {% set ns = namespace(flag = resultSpss.data[0].ptID) %}
        {% set spanID = namespace(i=0) %}

        {% for row in resultSpss.data %}
          {% if ns.flag != row['ptID'] %}
            {% set ns.flag = row['ptID'] %}
            {% set spanID.i = spanID.i + 1 %}
            {% if loop.index == 1 %}
              {% set loopIndex = 0 %}
            {% else %}
              {% set loopIndex = loop.index - 2 %}
            {% endif %}
              <p>Price {{ resultSpss.data[loopIndex].Price }}</p>
            <p>Quantity {{ resultSpss.data[loopIndex].Quantity }}</p>
            </span>
            <span id="type_{{ spanID.i }}" class="productType" style="display: none;">
              <h2 class="subproduct">{{ row['ptTitle'] }}</h2>
              {% if row['Text'] is not none %}
                <p><strong> {{ row['Title'] }}:</strong> {{ row['Text'] }} </p>
              {% endif %}
            
          
            {% else %}
              {% if row['Text'] is not none %}
                <p><strong> {{ row['Title'] }}:</strong> {{ row['Text'] }} </p>
              {% endif %}
          
          {% endif %}
          
        
        {% endfor %}
      {% set lastIndex = resultSpss.data | length - 1 %}
      <p>Price {{ resultSpss.data[lastIndex].Price }}</p>
      <p>Quantity {{ resultSpss.data[lastIndex].Quantity }}</p>  
      </span>  
        
    {% endif %}

  </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='JS/slideshow.js') }}"></script>
  {% endif %}