{% extends "base.html" %}

{% set title = _('Create Specifications for Product Type') %}
{% set placeholderName =  _('Product Type Situation name') %}
{% set refKey = '' %}

{% if data | length > 0 %}
    {% set title = _('Translate Specifications for Product Type') %}
    {% set placeholderName = _('The field name to be translated:') + ' ' + data[0]['spsName'] %}
    {% set refKey = spsRefKey %}
{% endif %}
{% block title %}
    {{ title }}
{% endblock %}


{% block content %}

{{ sideBar | safe }}

<div class="container toRight" id="tableDaddy" style="width: 70%;">
<div id="response"></div>
<input type="hidden" name="spsRefKey" id="spsRefKey" value="{{ refKey }}">
<div class="mb-3 containerSPS pr-name">
    <input autocomplete="off" autofocus class="" id="name" name="name" placeholder="{{ placeholderName }}" type="text">
</div>

<form id="myForm" >
    <!-- Dynamic fields --> 
    {% if spsRefKey is not none %}  
        {% for row in data %}       
        <div class="containerSPS parent" id="parent_{{ loop.index }}" draggable="true">
            
            <input type="text" name="text_{{ loop.index }}" placeholder="{{ _('The field name to be translated:') + ' ' + row['spssName']}}">
            <!-- <input type="hidden" name="spssID" value="{{ row['spssID'] }}"> -->
            <div class="remove" onclick="handleRemoveClick(this)">-</div>
                    
        </div>
        {% endfor %}
    {% else %}
    <div class="containerSPS parent" id="parent_1" draggable="true">
        
        
            <input type="text" name="text_1">
            <div class="remove" onclick="handleRemoveClick(this)">-</div>
            
            
    </div>
    {% endif %}
    <!-- End of dynamic fields -->
    
</form>

</div>

<div class="containerH" style="width: 100%;">

    <div id="plusDiv" class="plusDiv toRight tableDaddy" onclick="handlePlusClick(this)" >+</div>
    <div class="pcButtonS toRight tableDaddy" id="submit">{{ _('Submit')}}</div>
    <div class="pcButtonS hidden toRight tableDaddy" id="saving">{{ _('Saving...')}}</div>
</div>

    <script>
        const container = document.getElementById('myForm');

        container.addEventListener('dragstart', (e) => {
            if (e.target.classList.contains('parent')) {
                e.target.classList.add('dragging');
                e.dataTransfer.setData('text/plain', e.target.outerHTML); // Store the dragged element.
            }
        });

        container.addEventListener('dragend', (e) => {
            if (e.target.classList.contains('parent')) {
                e.target.classList.remove('dragging');
            }
        });

        container.addEventListener('dragover', (e) => {
            e.preventDefault();
            const draggingElement = container.querySelector('.dragging');
            const afterElement = getDragAfterElement(container, e.clientY);

            if (afterElement == null) {
                container.appendChild(draggingElement);
            } else {
                container.insertBefore(draggingElement, afterElement);
            }
        });

        function getDragAfterElement(container, y) {
            const draggableElements = [...container.querySelectorAll('.parent:not(.dragging)')];

            return draggableElements.reduce(
                (closest, child) => {
                    const box = child.getBoundingClientRect();
                    const offset = y - box.top - box.height / 2;
                    if (offset < 0 && offset > closest.offset) {
                        return { offset: offset, element: child };
                    } else {
                        return closest;
                    }
                },
                { offset: Number.NEGATIVE_INFINITY }
            ).element;
        }
    </script>

    <script>
        let csrfToken = "{{ csrf_token() }}";
            document.getElementById('submit').onclick = function() {
                event.preventDefault(); // Prevent form submission
                let response = document.querySelector("#response");
                response.innerHTML = "";
                response.style.display = 'none';

                const clickedBtn = document.getElementById('submit');
                const savingBtn = document.getElementById('saving');

                clickedBtn.classList.toggle('hidden');
                savingBtn.classList.toggle('hidden');


                let answer;
                let flag = false;
                const docFormData = new FormData(document.getElementById("myForm"));

                let project_name = document.getElementById("name").value;
                if (!project_name) {
                    response.innerHTML = "{{ _('Please specify subproduct situation name!') }}";
                    response.style.display = 'flex';
                    document.getElementById("name").style.borderColor = "red";
                    clickedBtn.classList.toggle('hidden');
                    savingBtn.classList.toggle('hidden');
                    return;
                }

                document.getElementById("name").style.borderColor = "black";

                let formData = new FormData();
            
                let i = 0;
                docFormData.forEach((value, key) => {
                    const inputElement = document.querySelector(`[name="${key}"]`);
                    const elementType = inputElement.type;

                    let stringToSplit = key;
                    let checker = stringToSplit.indexOf("_");
                    let parentElementId = "";
                    if (checker !== -1) {
                        let splitArray = stringToSplit.split('_');
                        let secondIndex = splitArray[1];
                        parentElementId = "parent_" + secondIndex;
                    }

                    let emptyInput = document.querySelector(`#${parentElementId} input`);

                    if (value === "") {
                        flag = true;

                        if (elementType === "select-one") {
                            if (colorFrame) {
                                colorFrame.style.color = "red";
                            }
                        } else {
                            if (emptyInput) {
                                emptyInput.style.borderColor = "red";
                            }
                        }
                    } else {
                        if (elementType === "select-one") {
                            if (colorFrame) {
                                colorFrame.style.color = "black";
                            }
                        } else {
                            if (emptyInput) {
                                emptyInput.style.borderColor = "black";
                            }
                        }
                    }

                    let check = key.split('_');
                    if (check[0] !== "type") {
                        formData.append('text_' + i.toString(), value)
                        i++;
                    }
                });

                if (flag) {
                    answer = "{{ _('Please improve all red fields!') }}";
                    response.textContent = answer;
                    response.style.display = 'flex';
                    clickedBtn.classList.toggle('hidden');
                    savingBtn.classList.toggle('hidden');
                    return;
                }
        let spsRefKey = document.querySelector("#spsRefKey").value;

        formData.append('spsName', project_name)     
        formData.append('spsRefKey', spsRefKey)     
        document.querySelector("#response").textContent = answer;


        // Create a new XMLHttpRequest object
        let xhr = new XMLHttpRequest();
        
        // Configure the request
        xhr.open('POST', '/add_sps');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        // Define what happens on successful data submission
        xhr.onload = function () {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                if (response.status === '1') {
                    let ptsURL = window.location.origin  + '/pt-specifications';
                    location.href = ptsURL;
                }
                
                if (response.status === '0') {
                    document.querySelector("#response").textContent = response.answer;
                    document.querySelector("#response").style.display = 'flex';

                    clickedBtn.classList.toggle('hidden');
                    savingBtn.classList.toggle('hidden');
                } 
                
                if (response.status === 'test') {
                    const jsonString = JSON.stringify(response.message);
                    document.querySelector('#response').textContent = jsonString;

                    clickedBtn.classList.toggle('hidden');
                    savingBtn.classList.toggle('hidden');
                }
            } else {
                console.error('Request failed with status: ' + xhr.status);

                clickedBtn.classList.toggle('hidden');
                savingBtn.classList.toggle('hidden');
            }
        };

        // Define what happens in case of error
        xhr.onerror = function () {
            console.error('Request failed.');

            clickedBtn.classList.toggle('hidden');
            savingBtn.classList.toggle('hidden');
                        
        };

        // Send the request with the JSON data
        xhr.send(formData);
    };


        let num = parseInt("{{ num }}"); // total count of mobile elements. Starts from one
        // + buttun manipulation
        function handlePlusClick(plus) { 

            // Function to find the highest number after the underscore in IDs
            const elements = document.querySelectorAll('.parent'); // Select all elements with class 'parCh'
            let maxNumber = -1; // Initialize the max number as -1

            elements.forEach(element => {
                const id = element.id; // Get the id of the element
                const parts = id.split('_'); // Split the id by underscore
                if (parts.length > 1) {
                    const number = parseInt(parts[1], 10); // Convert the part after the underscore to an integer
                    if (number > maxNumber) {
                        maxNumber = number; // Update max number if current number is larger
                    }
                }
            });

            let strMaxNumber = maxNumber.toString();
            let targetId = 'parent_' + strMaxNumber

            // let originalParent = document.getElementById(targetId);
            let originalParent = document.getElementById(targetId);
            
            // Clone the original parent container element
            let clonedParent = originalParent.cloneNode(true);

            num = num + 1
            
            strNum = (maxNumber + 1).toString()
            
            let inputElement = clonedParent.querySelector("input");
            inputElement.value = '';
            inputElement.name = 'text_' + strNum;
            // Change the parent div's id
            let newParentId = "parent_" + strNum
            clonedParent.setAttribute("id", newParentId);

            // Check if the ".remove" div already exists
            let existingRemoveDiv = clonedParent.querySelector(".remove");
            let plusDiv = document.getElementById('plusDiv');
            
            // Append the cloned elements after the original parent div
            // originalParent.parentNode.insertBefore(clonedParent, plusDiv);
            
            let parentElement = document.getElementById('myForm');
            parentElement.append(clonedParent);


        }

        // - buttun manipulations
        function handleRemoveClick(plus) { 
            
            if (num === 1) {
                return;
            }

            const plusDiveClone = document.getElementById('plusDiv');
            
            let parentId = plus.parentNode.id;
            removeElementById(parentId);
            num = num - 1;

        }

        function removeElementById(elementId) {
            let element = document.getElementById(elementId);
            if (element) {
                while (element.firstChild) {
                element.removeChild(element.firstChild);
                }
                let parentElement = element.parentNode;
                parentElement.removeChild(element);
            }
        }

        

  
    </script>

{% endblock %}
