{% extends 'base.html' %}
{% block title %}
{{ _('Team') }}
{% endblock %}


{% block head %}
    <style>
      /* table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th {
        cursor: pointer;
      }

      th, td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
} */
    </style>
{% endblock %}

{% block content %}

{{ sideBar | safe }}
<div class="container" >

{% if result.length > 0 %}
<div class="table-container toRight" id="tableDaddy">
  <table id="myTable">
    <thead>
      <tr>

      <th>
        <div style="display: flex; align-items: center;">
         {{ _('Name') }} 

          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 0, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 0, 'down')"></i>
          </div>
        </div>

      </th>

        <th>
          <div style="display: flex; align-items: center;">
           {{ _('Position') }} 
          <div class="sort-icons" style="margin-left: 5px;">
            <i class="fas fa-sort-up myup" onclick="sortTable(this, 1, 'up')"></i>
            <i class="fas fa-sort-down mydown" onclick="sortTable(this, 1, 'down')"></i>
          </div>
        </div>

        </th>
        <th> 
          <div style="display: flex; align-items: center;">
            {{ _('Status') }}

            <div class="sort-icons" style="margin-left: 5px;">
              <i class="fas fa-sort-up myup" onclick="sortTable(this, 2, 'up')"></i>
              <i class="fas fa-sort-down mydown" onclick="sortTable(this, 2, 'down')"></i>
            </div>
          </div>

      </th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in result.data %}
      {% set status = _('Active') %}
      {% set statusStyle = 'status-open' %}
      {% if row['Status'] == 0 %}
        {% set status = _('Disabled') %}
        {% set statusStyle = 'status-on-hold' %}
      {% endif %}
      {% set editUrl = 'edit-teammate/' + row['ID']|string %}
      <tr>
        {% if row['Photo'] %}
        <td data-label="{{ _('Name') }}" class="flex">
          <img src="{{ url_for('static', filename='images/stuff/') + row['Photo'] }}" class="avatar">
          {{ row['Firstname'] + ' ' + row['Lastname'] }} &nbsp; <br><small>{{ row['Email'] }}</small>
        </td>
        {% else %}
        {% set initial_1 =  row['Firstname'] %}
        {% set initial_2 =  row['Lastname'] %}
        <td data-label="{{ _('Name') }}" class="flex">
          <div class="avatar" style="background-color: #e3e6f0; color: #333; text-align: center; line-height: 80px; font-weight: bold; font-size: 17pt;">{{ initial_1[0] + initial_2[0] }}</div>
          {{ row['Firstname'] + ' ' + row['Lastname'] }} &nbsp; <br><small>{{ row['Email'] }}</small>
        </td>

        {% endif %}
        <td data-label="{{ _('Position') }}">
          {{ row['Rol'] }}
        </td>
        <td data-label="{{ _('Status') }}"><span class="status-label {{ statusStyle }}">{{ status }}</span></td>

        <td class="edit-user">
          <a href="{{ url_for('home', _external=True) + editUrl }}">
            <i class="fas fa-pencil"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
      <!-- Repeat the same structure for more rows -->
      <tr>
        <td data-label="NAME" class="flex">
          <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" class="avatar">
          Spears Collier Gray <br><small>spearscollier@remold.com</small>
        </td>
        <td data-label="COMPANY">
          Remold <br><small>Hebron</small>
        </td>
        <td data-label="STATUS"><span class="status-label status-open">Open</span></td>
        <td><i class="fas fa-ellipsis-v menu-icon"></i></td>
      </tr>

      
    </tbody>
  </table>

  <div class="pagination">
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">&raquo;</a>
  </div>
</div>

  {% endif %}

<script>

window.addEventListener('load', () => {
  document.querySelector('body').classList.add('loaded');
});

// function clickedArrow(arrowElement, n) {
//   alert(n);
//   document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
//   arrowElement.style.color = '#ff0000';

// }

let trace;

function sortTable(arrowElement, n, direction) {
  
  // console.log(n);
  if (trace === String(n) + direction) {
    return;
  }

  trace = String(n) + direction;
  
  document.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  arrowElement.style.color = '#ff0000';

  let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

// function toggleSort(th) {
//   // Toggle colors on the clicked header's icons
//   const icons = th.querySelectorAll('.sort-icons i');
//   if (icons[0].style.color === 'rgb(88, 86, 214)') {
//     alert('0');
//     icons[0].style.color = '#fff';
//     icons[1].style.color = '#5856d6';
//   } else {
//     alert('1');
//     icons[0].style.color = '#5856d6';
//     icons[1].style.color = '#fff';
//   }
// }

// Reset all headers and icons to default color
// document.querySelectorAll('th').forEach(header => {
//   // header.classList.remove('active');
//   header.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
// });


function toggleSort(th) {
  // Reset all headers and icons to default color
  // console.log(th.getAttribute('data-active'));
  // document.querySelectorAll('th').forEach(header => {
  //   // console.log(header);
  //   header.querySelectorAll('.sort-icons i').forEach(icon => icon.style.color = '#fff');
  //   header.removeAttribute('data-active'); // Remove active attribute for all
  // });

  // // Toggle colors on the clicked header's icons
  // const icons = th.querySelectorAll('.sort-icons i');
  // const isAscending = th.getAttribute('data-active') === 'asc';
  // if (isAscending) {
  //   // If ascending, switch to descending
  //   icons[0].style.color = '#fff';
  //   icons[1].style.color = '#5856d6';
  //   th.setAttribute('data-active', 'desc');
  // } else {
  //   // If descending or unset, switch to ascending
  //   icons[0].style.color = '#5856d6';
  //   icons[1].style.color = '#fff';
  //   th.setAttribute('data-active', 'asc');
  // }
}

</script>


{% endblock %}